<!-- Caracteristicas -->
{% include2 "caracteristicas/caracteristicas.html" %}
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="riqueza">
    <!-- riqueza -->
    {% include2 "caracteristicas/riqueza.html" %}
  </div>
  <div role="tabpanel" class="tab-pane" id="aparencia">
      <!-- aparencia -->
    {% include2 "caracteristicas/aparencia.html" %}
  </div>
  <div role="tabpanel" class="tab-pane" id="idade">
    <!-- idade -->
    {% include2 "caracteristicas/idade.html" %}
  </div>
</div>