<div class="row">
	<div class="col-sm-12 text-center">
		<div class="col-sm-12">
			<span>PP inicial</span>
		</div>
		<div class="col-sm-12">
			<input type="number" name="quantity" value="100" id="pp_inicial" class="text-center">
		</div>
	</div>
	<div class="col-sm-12 distancia_icone text-center">
		<div class="col-sm-4">
			<a id="download" href="#" download="char.json" class="btn btn-large btn-primary">
				<i class="fa fa-floppy-o tamanho_icone" aria-hidden="true"></i>
				<span class="icone_texto">Salvar JSON</span>
			</a>
		</div>
		<div class="col-sm-4">
			<div class="json-upload">
			    <label for="json-input" class="btn btn-large btn-primary">
			        <i class="fa fa-upload tamanho_icone" aria-hidden="true"></i>
			        <span class="icone_texto">Carregar JSON</span>
			    </label>

			    <input id="json-input" type="file"/>
			</div>
			
		</div>
		<div class="col-sm-4">
			<a id="novo" href="#" data-toggle="confirmation" data-title="Você tem certeza que deseja criar um novo?" class="btn btn-large btn-primary">
				<i class="fa fa-user-times tamanho_icone" aria-hidden="true"></i>
				<span class="icone_texto">Resetar Personagem</span>
			</a>
		</div>

	</div>
</div>