<div class="btn-group row center-block" data-toggle="buttons">
  <div class="col-xs-6">
    <!-- desvantagens altruista -->
    {% include2 "desvantagens/altruista.html" %}
    <!-- desvantagens baixa_autoestima -->
    {% include2 "desvantagens/baixa_autoestima.html" %}
    <!-- desvantagens babaca -->
    {% include2 "desvantagens/babaca.html" %}  
    <!-- desvantagens barulhento -->
    {% include2 "desvantagens/barulhento.html" %}
    <!-- desvantagens codigo_de_honra -->
    {% include2 "desvantagens/codigo_de_honra.html" %}
    <!-- desvantagens condutor_arcano -->
    {% include2 "desvantagens/condutor_arcano.html" %}
    <!-- desvantagens covarde -->
    {% include2 "desvantagens/covarde.html" %}
    <!-- desvantagens dislexia -->
    {% include2 "desvantagens/dislexia.html" %}
    <!-- desvantagens egoista -->
    {% include2 "desvantagens/egoista.html" %}
    <!-- desvantagens estigma_social -->
    {% include2 "desvantagens/estigma_social.html" %}
    <!-- desvantagens exagerado -->
    {% include2 "desvantagens/exagerado.html" %}
    <!-- desvantagens fanatismo -->
    {% include2 "desvantagens/fanatismo.html" %}
    <!-- desvantagens fobia -->
    {% include2 "desvantagens/fobia.html" %}
    <!-- desvantagens frescura -->
    {% include2 "desvantagens/frescura.html" %}
    <!-- desvantagens lingua_presa -->
    {% include2 "desvantagens/lingua_presa.html" %}
    <!-- desvantagens ganancia -->
    {% include2 "desvantagens/ganancia.html" %}
  </div>
  <div class="col-xs-6">
    <!-- desvantagens honrado -->
    {% include2 "desvantagens/honrado.html" %}
    <!-- desvantagens incapaz_de_mentir -->
    {% include2 "desvantagens/incapaz_de_mentir.html" %}
    <!-- desvantagens obrigacao -->
    {% include2 "desvantagens/obrigacao.html" %}
    <!-- desvantagens orgulho -->
    {% include2 "desvantagens/orgulho.html" %}
    <!-- desvantagens piromania -->
    {% include2 "desvantagens/piromania.html" %}
    <!-- desvantagens psicopatia -->
    {% include2 "desvantagens/psicopatia.html" %}
    <!-- desvantagens pouca_tolerancia_a_dor -->
    {% include2 "desvantagens/pouca_tolerancia_a_dor.html" %}
    <!-- desvantagens sadico -->
    {% include2 "desvantagens/sadico.html" %}
    <!-- desvantagens sede_de_sangue -->
    {% include2 "desvantagens/sede_de_sangue.html" %}
    <!-- desvantagens sem_senso_de_humor -->
    {% include2 "desvantagens/sem_senso_de_humor.html" %}
    <!-- desvantagens senso_de_dever -->
    {% include2 "desvantagens/senso_de_dever.html" %}
    <!-- desvantagens teimoso -->
    {% include2 "desvantagens/teimoso.html" %}
    <!-- desvantagens tolo -->
    {% include2 "desvantagens/tolo.html" %}
    <!-- desvantagens trauma -->
    {% include2 "desvantagens/trauma.html" %}
    <!-- desvantagens vicio -->
    {% include2 "desvantagens/vicio.html" %}
    <!-- desvantagens voto -->
    {% include2 "desvantagens/voto.html" %}
  </div>
</div>
