<div class="row">
	<div class="col-xs-12">
		<!-- FACIL Força -->
		{% include2 "facil/forca.html" %}
	</div>
	<div class="col-xs-12">
		<!-- FACIL Agilidade -->
		{% include2 "facil/agilidade.html" %}
	</div>
	<div class="col-xs-12">
		<!-- FACIL Carisma -->
		{% include2 "facil/carisma.html" %}
	</div>
	<div class="col-xs-12">
		<!-- FACIL Intuição -->
		{% include2 "facil/intuicao.html" %}
	</div>
	<div class="col-xs-12">
		<!-- FACIL Lógica -->
		{% include2 "facil/logica.html" %}
	</div>
	<div class="col-xs-12">
		<!-- FACIL Saúde -->
		{% include2 "facil/saude.html" %}
	</div>
	<div class="col-xs-12">
		<!-- FACIL Fôlego -->
		{% include2 "facil/folego.html" %}
	</div>
	<div class="col-xs-12">
		<!-- FACIL Sanidade -->
		{% include2 "facil/sanidade.html" %}
	</div>
</div>
