<!--  habilidades -->
{% include2 "habilidades/habilidades.html" %}
<!-- Definicao habilidades -->
<div  class="tab-content col-xs-8">
<!-- habilidade habilidades_fisicas -->
{% include2 "habilidades/habilidades_fisicas.html" %}
<!-- habilidade habilidades_de_pilotagem -->
{% include2 "habilidades/habilidades_de_pilotagem.html" %}
<!-- habilidade habilidades_de_precisao -->
{% include2 "habilidades/habilidades_de_precisao.html" %}
<!-- habilidade habilidades_perceptivas -->
{% include2 "habilidades/habilidades_perceptivas.html" %}
<!-- habilidade habilidades_mentais -->
{% include2 "habilidades/habilidades_mentais.html" %}
<!-- habilidade habilidades_de_conhecimento_e_fabricacao -->
{% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao.html" %}
<!-- habilidade habilidades_interpessoais -->
{% include2 "habilidades/habilidades_interpessoais.html" %}
<!-- habilidade habilidades_de_combate -->
{% include2 "habilidades/habilidades_de_combate.html" %}
<!-- habilidade habilidades_magicas -->
{% include2 "habilidades/habilidades_magicas.html" %}
<!-- habilidade habilidades_divinas -->
{% include2 "habilidades/habilidades_divinas.html" %}
</div>