<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Criador de ficha</title>
  <link href="jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
  <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bootstrap.vertical-tabs.css">
  <link rel="stylesheet" type="text/css" href="Criador_de_ficha.css">

</head>
<body>
  <div class="row">


    <div class="col-sm-2">
      {% include2 "char.html" %}
    </div>

    <div class="col-sm-6 col-sm-offset-1 panel-group" id="accordion">

      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#definicao">Raças</a></h4>
        </div>
        <div id="definicao" class="panel-collapse collapse in mudanca-colapse panel-body mudanca-panel-body">
          <!-- PARTE DE definicao-->
          {% include2 "definicao.html" %}
        </div>
      </div>

      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#racas">Raças</a></h4>
        </div>
        <div id="racas" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          <!-- PARTE DE Racas-->
          {% include2 "racas.html" %}
        </div>
      </div>

      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#caracteristicas">Características</a></h4>
        </div>
        <div id="caracteristicas" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          <!-- PARTE DE Características-->
          {% include2 "caracteristicas.html" %}
        </div>
      </div>
      
      <!-- PARTE DE Vantagens-->
      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#vantagens">Vantagens</a></h4>
        </div>
        <div id="vantagens" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          {% include2 "vantagens.html" %}
        </div>
      </div>

      <!-- PARTE DE Desvantagens-->
      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#desvantagens">Desvantagens</a></h4>
        </div>
        <div id="desvantagens" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          {% include2 "desvantagens.html" %}
        </div>
      </div>

      <!-- PARTE DE Historia de vida-->
      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#historia_de_vida">Historia de vida</a></h4>
        </div>
        <div id="historia_de_vida" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          {% include2 "historia_de_vida.html" %}
        </div>
      </div>

      <!-- PARTE DE FACIL-->
      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#facil">FACIL</a></h4>
        </div>
        <div id="facil" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          {% include2 "facil.html" %}
        </div>
      </div>

      <!-- PARTE DE Habilidades-->
      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#habilidades">Habilidades</a></h4>
        </div>
        <div id="habilidades" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          {% include2 "habilidades.html" %}
        </div>
      </div>

      <!-- PARTE DE Equipamentos-->
      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#equipamentos">Equipamentos</a></h4>
        </div>
        <div id="equipamentos" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>

      <!-- PARTE DE Itens mágicos-->
      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#itens_magicos">Itens mágicos</a></h4>
        </div>
        <div id="itens_magicos" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>

      <!-- PARTE DE Itens tecnomágicos-->
      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#itens_tecnomagicos">Itens tecnomágicos</a></h4>
        </div>
        <div id="itens_tecnomagicos" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>

      <!-- PARTE DE Autômatos e Automotores-->
      <div class="panel panel-default mudanca-panel-default mudanca-panel">
        <div class="panel-heading mudanca-panel-heading text-center">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Autômatos e Automotores</a></h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse mudanca-colapse panel-body mudanca-panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>

    <div class="col-sm-2 col-sm-offset-1">
      {% include2 "pontos.html" %}
      {% include2 "adicao_habilidade.html" %}
    </div>
  </div>
  <script src="jquery-3.1.1.js"></script> 
  <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script src="bootstrap-confirmation.min.js"></script>
  <script src="jquery-ui-1.12.1/jquery-ui.js"></script>
  <script src="Criador_de_ficha.js"></script>
  <script src="js.cookie.js"></script>
</body>
</html>
