<table class="table table-striped table-bordered">
  <tr>
    <th class="pontos">PP</th>
    <td id="pp">100</td>
  </tr>
  <tr>
    <th class="pontos">PhF</th>
    <td id="phf">0</td>
  </tr>
  <tr>
    <th class="pontos">PhA</th>
    <td id="pha">0</td>
  </tr>
  <tr>
    <th class="pontos">PhC</th>
    <td id="phc">0</td>
  </tr>
  <tr>
    <th class="pontos">PhI</th>
    <td id="phi">0</td>
  </tr>
  <tr>
    <th class="pontos">PhL</th>
    <td id="phl">0</td>
  </tr>
  <tr>
    <th class="pontos">Pc</th>
    <td id="pc">10000</td>
  </tr>
</table>