<!--racas-->
{% include2 "racas/racas.html" %}
<!--Caracteristicas das racas-->
  <div class="col-xs-6 tab-content">
    <!-- Caracteristicas Humano-->
    {% include2 "racas/humanos.html" %}
    <!-- Caracteristicas elanos-->
    {% include2 "racas/elanos.html" %}
    <!-- Caracteristicas orquinos-->
    {% include2 "racas/orquinos.html" %}
    <!-- Caracteristicas elfos-->
    {% include2 "racas/elfos.html" %}
    <!-- Caracteristicas anoes-->
    {% include2 "racas/anoes.html" %}
    <!-- Caracteristicas halfling-->
    {% include2 "racas/halfling.html" %}
    <!-- Caracteristicas poes-->
    {% include2 "racas/poes.html" %}
    <!-- Caracteristicas thrii-krek-->
    {% include2 "racas/thrii-krek.html" %}
    <!-- Caracteristicas krin-krek-->
    {% include2 "racas/krin-krek.html" %}
    <!-- Caracteristicas thruk-krek-->
    {% include2 "racas/thruk-krek.html" %}
    <!-- Caracteristicas arachas-->
    {% include2 "racas/arachas.html" %}
    <!-- Caracteristicas dyn-o-bren-->
    {% include2 "racas/dyn-o-bren.html" %}
    <!-- Caracteristicas dragoes-->
    {% include2 "racas/dragoes.html" %}
  </div>