<div class="btn-group row center-block" data-toggle="buttons">
  <div class="col-xs-6">
    <!-- Vantagem alma_magica -->
    {% include2 "vantagens/alma_magica.html" %}
    <!-- Vantagem ambidestria -->
    {% include2 "vantagens/ambidestria.html" %}
    <!-- Vantagem bencao_divina -->
    {% include2 "vantagens/bencao_divina.html" %}
    <!-- Vantagem charme -->
    {% include2 "vantagens/charme.html" %}
    <!-- Vantagem coragem -->
    {% include2 "vantagens/coragem.html" %}
    <!-- Vantagem dessensibilizado -->
    {% include2 "vantagens/dessensibilizado.html" %}
    <!-- Vantagem destreza_manual -->
    {% include2 "vantagens/destreza_manual.html" %}
    <!-- Vantagem fiel -->
    {% include2 "vantagens/fiel.html" %}
    <!-- Vantagem foco -->
    {% include2 "vantagens/foco.html" %}
    <!-- Vantagem fortaleza_mental -->
    {% include2 "vantagens/fortaleza_mental.html" %}
    <!-- Vantagem flexivel -->
    {% include2 "vantagens/flexivel.html" %}
    <!-- Vantagem genialidade -->
    {% include2 "vantagens/genialidade.html" %}
    <!-- Vantagem heranca -->
    {% include2 "vantagens/heranca.html" %}
    <!-- Vantagem licantropia -->
    {% include2 "vantagens/licantropia.html" %}
  </div>
  <div class="col-xs-6">
    <!-- Vantagem mutante -->
    {% include2 "vantagens/mutante.html" %}
    <!-- Vantagem prodigio -->
    {% include2 "vantagens/prodigio.html" %}
    <!-- Vantagem prodigio_militar -->
    {% include2 "vantagens/prodigio_militar.html" %}
    <!-- Vantagem prodigio_arcano -->
    {% include2 "vantagens/prodigio_arcano.html" %}
    <!-- Vantagem reflexos_de_guerreiro -->
    {% include2 "vantagens/reflexos_de_guerreiro.html" %}
    <!-- Vantagem sono_rapido -->
    {% include2 "vantagens/sono_rapido.html" %}
    <!-- Vantagem talento -->
    {% include2 "vantagens/talento.html" %}
    <!-- Vantagem talento_linguistico -->
    {% include2 "vantagens/talento_linguistico.html" %}
    <!-- Vantagem tolerancia_a_dor -->
    {% include2 "vantagens/tolerancia_a_dor.html" %}
    <!-- Vantagem treinamento_em_armadura -->
    {% include2 "vantagens/treinamento_em_armadura.html" %}
    <!-- Vantagem treino -->
    {% include2 "vantagens/treino.html" %}
    <!-- Vantagem vampirismo -->
    {% include2 "vantagens/vampirismo.html" %}
    <!-- Vantagem voz_magnifica -->
    {% include2 "vantagens/voz_magnifica.html" %}
    <!-- Vantagem visao_periferica -->
    {% include2 "vantagens/visao_periferica.html" %}
    
  </div>
</div>
  
