<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Pilotar" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Pilotar
    </h4>
    <span> Nv: </span>
    <span id="pilotar_p"> 0 </span>
  </div>
  <div class="row text-center">    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>A:<span id="agilidade_pilotar_p">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="pilotar_p" data-ponto="agilidade" data-ph="agilidade_pilotar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">A</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="pilotar_p" data-ponto="agilidade" data-ph="agilidade_pilotar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">A</span>
        </button>
      </div>
    </div>    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_pilotar_p">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="pilotar_p" data-ponto="intuicao" data-ph="intuicao_pilotar_p" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="pilotar_p" data-ponto="intuicao" data-ph="intuicao_pilotar_p" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A habilidade de pilotar, dirigir, navegar com qualquer tipo de veículo aéreo, terrestre ou naval.</p>
    <p>A habilidade possui utilidade apenas para aquele que está efetivamente guiando o veículo, não os membros da tripulação.</p>
  </div>
</div>