<div class="descricao-popover espaco_precisao">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Prestidigitação">
    <h4 class="cor_vermelho">
        Prestidigitação
    </h4>
  </div>
  <div class="row">    
    <div class="col-xs-4">
      <span> agilidade: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="agilidade_prestidigitacao" class="escolha_habilidade espaco_input" data-habilidade="prestidigitacao">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>