<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Prestidigitação" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Prestidigitação
    </h4>
    <span> Nv: </span>
    <span id="prestidigitacao"> 0 </span>
  </div>
  <div class="row">    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>A:<span id="agilidade_prestidigitacao">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="prestidigitacao" data-ponto="agilidade" data-ph="agilidade_prestidigitacao" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">A</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="prestidigitacao" data-ponto="agilidade" data-ph="agilidade_prestidigitacao" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">A</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>