<div class="descricao-popover espaco_precisao">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Surdina">
    <h4 class="cor_vermelho">
        Surdina
    </h4>
    <span> Nv: </span>
    <span id="surdina"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <span> agilidade: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="agilidade_surdina" class="escolha_habilidade espaco_input" data-habilidade="surdina">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>