<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Surdina" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Surdina
    </h4>
    <span> Nv: </span>
    <span id="surdina"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>A:<span id="agilidade_surdina">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="surdina" data-ponto="agilidade" data-ph="agilidade_surdina" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">A</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="surdina" data-ponto="agilidade" data-ph="agilidade_surdina" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">A</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>Surdina engloba tanto a capacidade de não fazer barulho ao se mover quanto a habilidade de se esconder com facilidade.</p>
    <p>O teste de surdina é sempre oposto por um teste de sentido. Derrotar sentidos além de visão ou audição não é possível utilizando esta habilidade.</p>
    <p>Armaduras metálicas dão uma penalidade de - 5 para surdina contra testes de audição.</p>
    <p>Invisibilidade dá um bônus de 5 contra visão caso o personagem esteja se movendo, e 10 caso esteja parado.</p>
    <p>Só é possível se esconder de olhos observadores caso um oponente esteja distraído e não esteja olhando para sua direção, ou a sua visão esteja bloqueada por algum objeto parado.</p>
  </div>
</div>