<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Usar armadilhas" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Usar armadilhas
    </h4>
    <span> Nv: </span>
    <span id="usar_armadilhas"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>A:<span id="agilidade_usar_armadilhas">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="usar_armadilhas" data-ponto="agilidade" data-ph="agilidade_usar_armadilhas" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">A</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="usar_armadilhas" data-ponto="agilidade" data-ph="agilidade_usar_armadilhas" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">A</span>
        </button>
      </div>
    </div>
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>L:<span id="logica_usar_armadilhas">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="usar_armadilhas" data-ponto="logica" data-ph="logica_usar_armadilhas" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">L</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="usar_armadilhas" data-ponto="logica" data-ph="logica_usar_armadilhas" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">L</span>
        </button>
      </div>
    </div>
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_usar_armadilhas">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="usar_armadilhas" data-ponto="intuicao" data-ph="intuicao_usar_armadilhas" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="usar_armadilhas" data-ponto="intuicao" data-ph="intuicao_usar_armadilhas" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>Esta habilidade engloba todo o uso de armadilhas, incluindo a desativação e a ativação.</p>
  </div>
</div>