<div class="descricao-popover espaco_precisao">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Usar armadilhas">
    <h3 class="cor_vermelho">
        Usar armadilhas (Agilidade, lógica ou intuição)
    </h3>
  </div>
  <div>
    <span> agilidade: </span>
    <input type="number" name="quantity" min="0" max="2" id="agilidade_usar_armadilhas" class="escolha_habilidade espaco_input" data-habilidade="usar_armadilhas">
    <span> lógica: </span>
    <input type="number" name="quantity" min="0" max="2" id="logica_usar_armadilhas" class="escolha_habilidade espaco_input" data-habilidade="usar_armadilhas">
    <span> intuição: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuicao_usar_armadilhas" class="escolha_habilidade espaco_input" data-habilidade="usar_armadilhas">
  </div>
  <div class="del-pop">
  </div>
</div>