<div class="descricao-popover espaco_precisao">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Usar armadilhas">
    <h4 class="cor_vermelho">
        Usar armadilhas
    </h4>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <span> agilidade: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="agilidade_usar_armadilhas" class="escolha_habilidade espaco_input" data-habilidade="usar_armadilhas">
    </div>
    <div class="col-xs-4">
      <span> lógica: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="logica_usar_armadilhas" class="escolha_habilidade espaco_input" data-habilidade="usar_armadilhas">
    </div>
    <div class="col-xs-4">
      <span> intuição: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="intuicao_usar_armadilhas" class="escolha_habilidade espaco_input" data-habilidade="usar_armadilhas">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>