<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-riqueza" data-toggle="popover" data-placement="right" data-container="body" title="Confortável" data-riqueza="4">
    <input type="radio" name="options" id="confortavel" class="imput-invisivel"> 
    <span>
      Confortável 
    </span>
  </label>
  <div class="del-pop">
    <p>10 pontos</p>
    <p>Você tem um ótimo e bem pago emprego, ou seus pais são ricos. A riqueza inicial é 2x a padrão.</p>
  </div>
</div>