<div class="col-xs-6 tppd renda-divida descricao-popover text-center">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Dívida" class="tem_hover">
    <span>
      Dívida
    </span>
    <input type="number" name="quantity" min="0" max="999" id="divida">
  </div>
  <div class="del-pop">
    <p>-5 ponto/ nível</p>
    <p>Você deve grana para alguém ou alguma instituição. Seja um empréstimo, dinheiro de proteção para uma máfia ou pensões familiares. Assume-se que esse dinheiro não pode ser facilmente pago, e custa uma grande grana ou um serviço sujo para ser pago.</p>
    <p>Cada ponto dessa desvantagem custa 5% da sua riqueza inicial por mês. Se a sua riqueza for menor que médio, use os valores para uma riqueza média. Não pagar a dívida terá consequências proporcionalmente graves.</p>
    <p>Para pagar a dívida definitivamente, você deve pagar 100% da sua riqueza inicial por cada ponto. Você deve também realizar um favor para o seu credor ou pagar o dobro.</p>
  </div>
</div>