<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-riqueza" data-toggle="popover" data-placement="right" data-container="body" title="Milionário" data-riqueza="7">
    <input type="radio" name="options" id="milionario" class="imput-invisivel"> 
    <span>
      Milionário 
    </span>
  </label>
  <div class="del-pop">
    <p>120 pontos</p>
    <p>Você é um membro do alto escalão de alguma empresa ou governo, ou herdeiro de um. A riqueza inicial é 100x a padrão.</p>
  </div>
</div>