<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-riqueza tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Muito rico" data-riqueza="6">
    <input type="radio" name="options" id="muito_rico" class="imput-invisivel"> 
    <span>
      Muito rico 
    </span>
  </label>
  <div class="del-pop">
    <p>60 pontos</p>
    <p>Você tem um emprego muito bem pago, ou é um herdeiro de alguém com muita grana. A riqueza inicial é 20x a padrão.</p>
  </div>
</div>