<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-riqueza" data-toggle="popover" data-placement="right" data-container="body" title="Multimilionário" data-riqueza="8">
    <input type="radio" name="options" id="multimilionario" class="imput-invisivel"> 
    <span>
      Multimilionário 
    </span>
  </label>
  <div class="del-pop">
    <p>180 pontos ou mais</p>
    <p>Você tem mais ouro na sua casa do que peso no corpo. A riqueza inicial é 1000x, podendo ser aumentada em 10x a cada 60 pontos adicionais gastos.</p>
  </div>
</div>