<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-riqueza" data-toggle="popover" data-placement="right" data-container="body" title="Pobre de doer " data-riqueza="0"> 
    <input type="radio" name="options" id="pobre_de_doer" class="imput-invisivel"> 
    <span>
      Pobre de doer 
    </span>
  </label>
  <div class="del-pop">
    <p>-40 pontos</p>
    <p>Você não tem emprego, nenhuma fonte de renda e nenhuma propriedade além de suas roupas esfarrapadas e 100pc que você encontrou no chão.</p>
  </div>
</div>