<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-riqueza tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Pobre" data-riqueza="1">
    <input type="radio" name="options" id="pobre" class="imput-invisivel"> 
    <span>
      Pobre 
    </span>
  </label>
  <div class="del-pop">
    <p>- 20 pontos</p>
    <p>Por algum motivo social ou pessoal, você não possui muito além do básico para sobreviver. E olhe lá. Sua riqueza inicial é 1/5 do padrão para a sua sociedade.</p>
  </div>
</div>