<div class="col-xs-6 tppd renda-divida descricao-popover text-center">
  <div  data-toggle="popover" data-placement="right" data-container="body" title="Renda independente" class="tem_hover">
    <span>
      Renda independente
    </span>
    <input type="number" name="quantity" min="0" max="999" id="renda-independente">
  </div>
  <div class="del-pop">
    <p>5 ponto/ nível</p>
    <p>Você possui uma fonte de renda que independe se seu trabalho ou de aventuras. Isso pode ser de qualquer tipo de renda, desde assistência social, alugueis, dinheiro em poupanças até heranças. Cada ponto dessa vantagem lhe dá 5% da sua riqueza inicial por mês.</p>
  </div>
</div>