<div class="col-xs-12 text-center tppd descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Trocar pontos por dinheiro" class="tem_hover">
    <span>
      Trocar pontos por dinheiro
    </span>
    <input type="number" name="quantity" min="0" max="2" id="trocar_pontos_por_dinheiro">
  </div>
  <div class="del-pop">
    <p>Caso você precise de um pouquinho mais de dinheiro apenas, ou não saiba o que fazer com pontos que sobraram, cada 5 pontos de personagem valem 25% da sua riqueza inicial. O número máximo de pontos que se pode gastar assim é 10.</p>
  </div>
</div>