<div role="tabpanel" class="tab-pane active row" id="conhecimento">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Conhecimento (intuição ou lógica)</h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade arcano -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/arcano.html" %}
    <!-- habilidade arquitetura -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/arquitetura.html" %}
    <!-- habilidade area_local -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/area_local.html" %}
    <!-- habilidade ciencias_da_natureza -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/ciencias_da_natureza.html" %}
    <!-- habilidade cultura -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/cultura.html" %}
    <!-- habilidade engenharia -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/engenharia.html" %}
  </div>
  <div class="col-xs-6">
    <!-- habilidade geografia -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/geografia.html" %}
    <!-- habilidade historia -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/historia.html" %}
    <!-- habilidade matematica_e_logica -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/matematica_e_logica.html" %}
    <!-- habilidade medicina -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/medicina.html" %}
    <!-- habilidade religioso -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/religioso.html" %}
    <!-- habilidade taticas_e_estrategia -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento/taticas_e_estrategia.html" %}
  </div>
</div>