<div role="tabpanel" class="tab-pane active" id="fabricar">
  <div>
    <!-- habilidade alquimia -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/alquimia.html" %}
    <!-- habilidade apotecaria -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/apotecaria.html" %}
    <!-- habilidade armearia -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/armearia.html" %}
    <!-- habilidade armaria -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/armaria.html" %}
    <!-- habilidade armoraria -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/armoraria.html" %}
    <!-- habilidade arquearia -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/arquearia.html" %}
    <!-- habilidade carpintaria -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/carpintaria.html" %}
    <!-- habilidade cartografia -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/cartografia.html" %}
    <!-- habilidade construcao -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/construcao.html" %}
    <!-- habilidade culinaria -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/culinaria.html" %}
    <!-- habilidade envenenador -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/envenenador.html" %}
    <!-- habilidade encantamentos -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/encantamentos.html" %}
    <!-- habilidade escultura_e_pintura -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/escultura_e_pintura.html" %}
    <!-- habilidade falsificacoes -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/falsificacoes.html" %}
    <!-- habilidade maquinario -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/maquinario.html" %}
    <!-- habilidade metalurgia -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/metalurgia.html" %}
    <!-- habilidade mutacao -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/mutacao.html" %}
    <!-- habilidade quimico -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/quimico.html" %}
    <!-- habilidade relojoaria -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/relojoaria.html" %}
    <!-- habilidade robotica -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/robotica.html" %}
    <!-- habilidade tecelagem -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/tecelagem.html" %}
    <!-- habilidade texto -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar/texto.html" %}
  </div>
</div>