<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem" data-toggle="popover" data-placement="right" data-container="body" title="Alma mágica" data-vantagem="alma_magica">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel">
    <span>
     Alma mágica
    </span>
  </label>
  <div class="del-pop">
    <p>5 pontos</p>
    <p>Você consegue extrair energia arcana da sua alma e corpo, gastando Fôlego para conjurar e não necessitando de geradores ou outras formas de auxílio para conjurar magia. Você se torna um arcanista nato, um Praecantator.</p>
    <p>Em algumas culturas extremamente conservadoras, como a dos anões, menelitas e silvanos, a pratica da magia é reservada apenas para os Praecantator, que são treinados assim que demonstram afinidade arcana.</p>
  </div> 
</div>
