<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Ambidestria" data-vantagem="ambidestria" data-quantidade="ambidestria">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel aparece">
    <span>
     Ambidestria
    </span>
  </label>
  <div class="del-pop">
    <p>5 pontos para cada braço que possua</p>
    <p>Você luta bem com suas mãos e é capaz de coordena-las sem qualquer dificuldade ou treino.</p>
    <p>Essa habilidade remove penalidades por utilizar mais de uma arma em um único ataque. Todos os bônus continuam os mesmos.</p>
  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="ambidestria" value="1" class="escondido">
  </div>
</div>
