<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem" data-toggle="popover" data-placement="right" data-container="body" title="Benção divina" data-vantagem="bencao_divina">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Benção divina
    </span>
  </label>
  <div class="del-pop">
    <p>40 pontos</p>
    <p>Você é um escolhido de uma divindade, dotado de poderes miraculosos para espalhar sua palavra para os povos. Você se torna um clérigo dessa divindade, capaz conjurar as magias e invocar as criaturas de sua divindade.</p>
    <p>Cada divindade possui códigos de conduta que devem ser observados estritamente por seus servos abençoados, ou eles arriscam perderem seus poderes divinos.</p>
  </div> 
</div>
