<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Coragem" data-vantagem="coragem" data-quantidade="coragem">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Coragem
    </span>
  </label>
  <div class="del-pop">
    <p>15 pontos/nível</p>
    <p>Você é ótimo em convencer e manipular pessoas, recebendo +1 em carisma e +1 de bônus em blefar e diplomacia.</p>
  </div>
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="coragem" value="1" class="escondido">
  </div>

</div>
