<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Dessensibilizado" data-vantagem="dessensibilizado" data-quantidade="dessensibilizado">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Dessensibilizado
    </span>
  </label>
  <div class="del-pop">
    <p>5PP/nível</p>
    <p>O personagem viu algumas coisas, coisas que fariam as almas e entranhas de pessoas normais saírem de seus corpos e voltarem de novo.</p>
    <p>O personagem escolhe algo particularmente traumatizante, como carnificina ou tortura e recebe +5 em testes de sanidade para resistir aos efeitos nocivos em sua sanidade. Ele, porém, recebe -1 de sanidade.</p>
    <p>É possível adquirir essa vantagem várias vezes, sempre aumentado em 5 seu teste de sanidade, ou escolhendo uma situação nova. Você recebe - 1 de sanidade apenas na primeira vez que escolhe uma situação.</p>

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="dessensibilizado" value="1" class="escondido">
  </div>
</div>
