<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Destreza manual" data-vantagem="destreza_manual" data-quantidade="destreza_manual">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Destreza manual
    </span>
  </label>
  <div class="del-pop">
    <p>10 pontos / nível</p>
    <p>Suas mãos são excepcionalmente ágeis, manipulando com precisão incomum para sua raça.</p>
    <p>Você recebe +1 de agilidade e em todos os testes que envolvam manipulação precisa a cada nível da vantagem.</p>

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="destreza_manual" value="1" class="escondido">
  </div>
</div>
