<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Fiel" data-vantagem="fiel" data-quantidade="fiel">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Fiel
    </span>
  </label>
  <div class="del-pop">
    <p>0, 5 pontos ou 10 pontos</p>
    <p>Por 5 pontos você é verdadeiramente fiel a uma divindade, podendo usar seus itens maravilhosos. Você, porém, acredita e deve seguir os ensinamentos de sua divindade.</p>
    <p>Por 0 pontos você se torna verdadeiramente fiel a uma divindade que não possui itens maravilhosos. Você acredita e deve seguir os ensinamentos de sua divindade.</p>
    <p>Por 5 pontos a mais você se torna fiel do Deus Esquecido além de uma outra divindade, devendo seguir os ensinamentos de ambas.</p>

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="fiel" value="1" class="escondido">
  </div>
</div>
