<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Fortaleza mental: X" data-vantagem="fortaleza_mental">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Fortaleza mental
    </span>
  </label>
  <div class="del-pop">
    <p>20 pontos</p>
    <p>Nada consegue lhe surpreender. Ao menos nada que não seja uma ameaça. Contanto que coisas não o incomodem, você não as incomoda.</p>
    <p>Você está isento de testes de medo e sanidade não mágicos e recebe 2+ de sanidade, além de +2 contra qualquer teste de medo mágico. Intimidação simplesmente falha contra você.</p>
    <p>Não é que você não possua emoções ou sinta não sinta medo, é que apenas você está sobre total controle do seu estado emocional.</p>
    <p>X= cada nível de coragem reduz em 5 pontos o custo desta vantagem. Essa vantagem proíbe que se tenha qualquer fobia.</p>
    <p>Não é que você não possua emoções ou sinta não sinta medo, é que apenas você está sobre total controle do seu estado emocional.</p>
    <p>X= cada nível de coragem reduz em 5 pontos o custo desta vantagem. Essa vantagem proíbe que se tenha qualquer fobia.</p>

  </div> 
</div>
