<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Herança" data-vantagem="heranca" data-quantidade="heranca">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Herança
    </span>
  </label>
  <div class="del-pop">
    <p>5/10/20</p>
    <p>O personagem recebeu um item precioso de seus pais ou mentor, podendo adquirir um item de valor igual ou menor que 10kpc/30kpc/100kpc por 1/5 de seu custo durante a criação de personagem.</p>

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="heranca" value="1" class="escondido">
  </div>
</div>
