<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Licantropia" data-vantagem="licantropia">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Licantropia
    </span>
  </label>
  <div class="del-pop">
    <p>75 pontos (100 pontos caso o grupo seja sacro renita).</p>
    <p>A licantropia é uma antiga doença amaldiçoada trazida ao mundo por Grumjar como tática para derrotar o Império dos ossos. Após a vitória das raças irmãs contra os elfos, as Grootarms espalharam a maldição por Irona e Arrakan, infectando inúmeros membros das raças irmãs.</p>
    <p>Um licantropo adquire a habilidade de mudar de forma para uma fera meio humanoide meio lobo, um lobisomem. Também é capaz de mudar para um lobo.</p>
    <p>Um licantropo transformado mantém o mesmo nível de inteligência e memórias, mas muda sua personalidade para a de uma criatura feroz e sedenta de sangue (considere como se possuísse a desvantagem de psicopatia (2º nível)).</p>
    <p>Quando não estiver transformado, um licantropo adquire pequenas características animalescas, como grande quantidade de pelos e caninos maiores e mais afiados.</p>
    <p>Licantropos são amaldiçoados a um grande desejo por carne de humanoides. Eles devem comer um pouco de carne de um humanoide que eles tenham matado (ou ainda esteja vivo) ao menos uma vez por mês, ou correm o risco de perderem o controle e se tornarem feras permanentemente.</p>
    <p>A licantropia afeta apenas humanoides e não afeta elfos (mas afeta elanos) ou poés. Ela é transmitida através da mordida de um licantropo em sua forma de lobo ou lobisomem, que tem 100% de chance de transmissão e é incurável.</p>
    <p>As sociedades veem Licantropos como monstros assassinos sedentos por carne, sendo caçados e mortos assim que são descobertos. Quando um Licantropo é descoberto mas consegue fugir, ele passa a ser caçado por Banidores.</p>
    <p>A exceção é caso ele seja um Sacro renita, nesse caso, ele não é mais malvisto que um soldado ou mercenário comum pelos seus compatriotas.</p>
    <p>Um personagem que adquira a licantropia por uma mordida ao decorrer de uma campanha deve gastar os pontos necessários para adquiri-la normalmente, investindo todos seus PPs ganhos para isso. Ele se torna um lobisomem pleno e ganha a capacidade de se transformar após o 7º dia da infecção.</p>

  </div> 
</div>
