<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Prodígio" data-vantagem="prodigio" data-quantidade="prodigio">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Prodígio
    </span>
  </label>
  <div class="del-pop">
    <p>10 pontos/nível</p>
    <p>Você é bastante precoce, tendo muito mais conhecimento sob um assunto do que o esperado. O seu máximo inicial em uma habilidade que não seja de combate, arcana, divina ou de pilotagem é aumentada em 1.</p>
    <p>Não é possível adquirir essa vantagem para a mesma habilidade.</p>

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="prodigio" value="1" class="escondido">
  </div>
</div>
