<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Prodígio militar" data-vantagem="prodigio_militar" data-quantidade="prodigio_militar">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Prodígio militar
    </span>
  </label>
  <div class="del-pop">
    <p>60 pontos/nível</p>
    <p>Você possui um dom natural para magia, aprendendo escolas diferentes e as unindo com facilidade. Escolha uma escola de magia e mais uma para cada nível nesta vantagem.</p>
    <p>Você pode uni-las em uma escola apenas, que pode ser aumentada custando apenas 2 vezes o custo normal, como se fosse uma escola só.</p>

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="prodigio_militar" value="1" class="escondido">
  </div>
</div>