<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Talento" data-vantagem="talento" data-quantidade="talento">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Talento
    </span>
  </label>
  <div class="del-pop">

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="talento" value="1" class="escondido">
  </div>
</div>