<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Tolerância à dor" data-vantagem="tolerancia_a_dor">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Tolerância à dor
    </span>
  </label>
  <div class="del-pop">
    <p>10 pontos</p>
    <p>Você sente dor e é tão vulnerável a ferimentos como qualquer um, mas não é um bebê chorão que nem as outras pessoas.</p>
    <p>Você ganha +5 em toda rodada de dado para resistir dor.</p>

  </div> 
</div>