<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Treinamento em armadura" data-vantagem="treinamento_em_armadura" data-quantidade="treinamento_em_armadura">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel">
    <span>
     Treinamento em armadura
    </span>
  </label>
  <div class="del-pop">

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="treinamento_em_armadura" value="1" class="escondido">
  </div>
</div>