<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Treino" data-vantagem="treino" data-quantidade="treino">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Treino
    </span>
  </label>
  <div class="del-pop">
    <p>5 pontos / nível</p>
    <p>A cada nível de Treino o personagem recebe 1 ponto de habilidade que pode utilizar em qualquer habilidade.</p>

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="99" id="treino" value="1" class="escondido">
  </div>
</div>