<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Vampirismo" data-vantagem="vampirismo">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Vampirismo
    </span>
  </label>
  <div class="del-pop">
    <p>50 pontos (100 pontos caso o grupo seja sacro renita)</p>
    <p>Vampiros são humanoides amaldiçoados (ou abençoados) pelo vampirismo. O vampirismo é uma doença mágica de contágio complexo, sendo quase impossível contrair sem ser por vontade direta de outro vampiro.</p>
    <p>Vampiros são criaturas em que as lendas às vezes se confundem com a realidade, o povo comum crê em muitas coisas que simplesmente não tem qualquer relação com vampiros. Mas em uma coisa todos estão certos: vampiros são seres imortais que se alimentam de sangue de humanoides.</p>
    <p>Um vampiro cresce em força e poder conforme sua idade. Um vampiro recém-transformado tem poucas capacidades extras em sua forma humanoide, mas pode se transformar em uma criatura horrenda de grande poder. E de grande sede de sangue.</p>
    <p>Vampiros são vulneráveis à luz do sol abençoado por Ráim. A luz solar queima-os como se fosse chama branda, causando uma morte horrivelmente dolorosa e lenta.</p>
    <p>Vampiros são provavelmente as criaturas mais odiadas de Baluerde. Licantropos e necromantes são temidos e perseguidos, mas quando um vampiro é avistado até mesmo o aparato de estado é mobilizado para caça-lo.</p>

  </div> 
</div>