<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Visão periférica" data-vantagem="visao_periferica">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Visão periférica
    </span>
  </label>
  <div class="del-pop">
    <p>5 pontos</p>
    <p>Sua visão periférica é excepcionalmente boa, removendo penalidades de combate para golpes vindos das laterais (mas não das costas).</p>

  </div> 
</div>