

.mudanca-panel-heading {
    width: 80%;
    margin-left: 10%;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd!important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.mudanca-panel-default {
    border: 0px;
}

.mudanca-panel-body {
    border-top: 0px;
}

.mudanca-colapse {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #ddd;
}

.panel-group .panel-heading+.panel-collapse>.list-group.mudanca-panel-body,
.panel-group .panel-heading+.panel-collapse>.panel-body.mudanca-panel-body {
    border-top: 0px;

}

.mudanca-panel {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.singularidades {
    font-size: 12pt;
    display: inline-block;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lista-margem {
    margin-left: 30px;
}

.margem-singularidade {
    margin-top: 10px;
}

.texto-azul {
    color: blue;
}

.imput-invisivel {
    visibility: hidden;
    display: none;
}

.botao-riquezas {
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: normal;
    word-wrap: break-word;
}

.renda-divida {
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.tppd {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 0 5px 0;
}

#riqueza span {
    word-break: break-all;
}

#riqueza .col-xs-4 {
    padding: 0;
}

.distancia_input {
    margin: 9px;
    margin-left: 11px;
    display: inline-block;
}

.escondido {
    display: none;
}

.escondido_des {
    display: none;
}

.cor_vermelho {
    color: red;
}

.espaco_input {
    margin-top: 2px;
}

.palavra-quebrada {
    word-break: break-all;
}

#sortable {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%;
}

#sortable li { 
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    height: 1.5em;  
    height: 1.5em; 
    line-height: 1.2em;
}

.some_span {
    display: none;
}

.popover {
    max-width: 350px;
}