<div class="btn-group row text-center center-block" data-toggle="buttons">
  <div class="col-xs-4">
    <!-- Aparencia magrelo -->
    {% include2 "caracteristicas/aparencia/magrelo.html" %}
    <!-- Aparencia gordo -->
    {% include2 "caracteristicas/aparencia/gordo.html" %}
    <!-- Aparencia obeso_morbido -->
    {% include2 "caracteristicas/aparencia/obeso_morbido.html" %}
    <!-- Aparencia gigante -->
    {% include2 "caracteristicas/aparencia/gigante.html" %}
  </div>
  <div class="col-xs-4">
    <!-- Aparencia nanismo -->
    {% include2 "caracteristicas/aparencia/nanismo.html" %}
    <!-- Aparencia horrendo -->
    {% include2 "caracteristicas/aparencia/horrendo.html" %}
    <!-- Aparencia feio -->
    {% include2 "caracteristicas/aparencia/feio.html" %}
    <!-- Aparencia pouco_atraente -->
    {% include2 "caracteristicas/aparencia/pouco_atraente.html" %}
  </div>
  <div class="col-xs-4">
    <!-- Aparencia medio -->
    {% include2 "caracteristicas/aparencia/medio.html" %}
    <!-- Aparencia atraente -->
    {% include2 "caracteristicas/aparencia/atraente.html" %}
    <!-- Aparencia bonito -->
    {% include2 "caracteristicas/aparencia/bonito.html" %}
    <!-- Aparencia esbelto -->
    {% include2 "caracteristicas/aparencia/esbelto.html" %}
  </div>
</div>