<div class="btn-group row text-center center-block" data-toggle="buttons">
  <div class="col-xs-4">
    <!-- Idade adolescente -->
    {% include2 "caracteristicas/idade/adolescente.html" %}
    <!-- Idade jovem_adulto -->
    {% include2 "caracteristicas/idade/jovem_adulto.html" %}
    <!-- Idade adulto -->
    {% include2 "caracteristicas/idade/adulto.html" %}
    <!-- Idade meia_idade -->
    {% include2 "caracteristicas/idade/meia_idade.html" %}
  </div>
  <div class="col-xs-4">
    <!-- Idade idoso -->
    {% include2 "caracteristicas/idade/idoso.html" %}
    <!-- Idade anciao -->
    {% include2 "caracteristicas/idade/anciao.html" %}
    <!-- Idade primeiro_seculo -->
    {% include2 "caracteristicas/idade/primeiro_seculo.html" %}
    <!-- Idade segundo_a_quarto_seculo -->
    {% include2 "caracteristicas/idade/segundo_a_quarto_seculo.html" %}
  </div>
  <div class="col-xs-4">
    <!-- Idade quinto_e_sexto_seculo -->
    {% include2 "caracteristicas/idade/quinto_e_sexto_seculo.html" %}
    <!-- Idade setimo_e_oitavo_seculo -->
    {% include2 "caracteristicas/idade/setimo_e_oitavo_seculo.html" %}
    <!-- Idade ultimos_seculos -->
    {% include2 "caracteristicas/idade/ultimos_seculos.html" %}
    <!-- Idade seculos_incontaveis -->
    {% include2 "caracteristicas/idade/seculos_incontaveis.html" %}
  </div>
</div>