<div class="btn-group row text-center center-block" data-toggle="buttons">
  <div class="col-xs-4">
    <!-- Riqueza pobre_de_doer -->
    {% include2 "caracteristicas/riquezas/pobre_de_doer.html" %}
    
    <!-- Riqueza pobre -->
    {% include2 "caracteristicas/riquezas/pobre.html" %}
    
    <!-- Riqueza em_dificuldades -->
    {% include2 "caracteristicas/riquezas/em_dificuldades.html" %}
  </div>
  <div class="col-xs-4">
    <!-- Riqueza medio -->
    {% include2 "caracteristicas/riquezas/medio.html" %}
    
    <!-- Riqueza confortavel -->
    {% include2 "caracteristicas/riquezas/confortavel.html" %}
    
    <!-- Riqueza rico -->
    {% include2 "caracteristicas/riquezas/rico.html" %}
  </div>
  <div class="col-xs-4">
    <!-- Riqueza muito_rico -->
    {% include2 "caracteristicas/riquezas/muito_rico.html" %}
    
    <!-- Riqueza milionario -->
    {% include2 "caracteristicas/riquezas/milionario.html" %}
    
    <!-- Riqueza multimilionario -->
    {% include2 "caracteristicas/riquezas/multimilionario.html" %}
  </div>
</div>
<div class="col-xs-12 row center-block">
  <!-- Riqueza renda_independente -->
  {% include2 "caracteristicas/riquezas/renda_independente.html" %}
  <!-- Riqueza divida -->
  {% include2 "caracteristicas/riquezas/divida.html" %}
</div>
  <!-- Riqueza trocar_pontos_por_dinheiro -->
  {% include2 "caracteristicas/riquezas/trocar_pontos_por_dinheiro.html" %}