<div class="descricao-popover espaco_pilotagem">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Misticismo">
    <h4 class="cor_vermelho">
        Misticismo
    </h4>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <span> logica: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="logica_misticismo" class="escolha_habilidade espaco_input" data-habilidade="misticismo">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>