<div class="descricao-popover espaco_pilotagem">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Combate corporal">
    <h3 class="cor_vermelho">
        Combate corporal <br/>(Agilidade ou intuição)
    </h3>
  </div>
  <div>
    <span> agilidade: </span>
    <input type="number" name="quantity" min="0" max="2" id="agilidade_combate_corporal" class="escolha_habilidade espaco_input" data-habilidade="combate_corporal">
    <span> intuição: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuicao_combate_corporal" class="escolha_habilidade espaco_input" data-habilidade="combate_corporal">
  </div>
  <div class="del-pop">
  </div>
</div>