<div class="descricao-popover espaco_pilotagem">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Combate corporal">
    <h4 class="cor_vermelho">
        Combate corporal
    </h4>
    <span> Nv: </span>
    <span id="combate_corporal"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <span> agilidade: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="agilidade_combate_corporal" class="escolha_habilidade espaco_input" data-habilidade="combate_corporal">
    </div>
    <div class="col-xs-4">
      <span> intuição: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="intuicao_combate_corporal" class="escolha_habilidade espaco_input" data-habilidade="combate_corporal">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>