<div class="descricao-popover espaco_pilotagem">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Pilotar">
    <h3 class="cor_vermelho">
        Pilotar <br/>(Agilidade ou intuição)
    </h3>
  </div>
  <div>
    <span> agilidade: </span>
    <input type="number" name="quantity" min="0" max="2" id="agilidade_pilotar" class="escolha_habilidade espaco_input" data-habilidade="pilotar">
    <span> intuição: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuicao_pilotar" class="escolha_habilidade espaco_input" data-habilidade="pilotar">
  </div>
  <div class="del-pop">
  </div>
</div>