<div class="descricao-popover espaco_pilotagem">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Pilotar">
    <h4 class="cor_vermelho">
        Pilotar
    </h4>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <span> agilidade: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="agilidade_pilotar" class="escolha_habilidade espaco_input" data-habilidade="pilotar">
    </div>
    <div class="col-xs-4">
      <span> intuição: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="intuicao_pilotar" class="escolha_habilidade espaco_input" data-habilidade="pilotar">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>