<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Pilotar" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Pilotar
    </h4>
    <span> Nv: </span>
    <span id="pilotar"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>A:<span id="agilidade_pilotar">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="pilotar" data-ponto="agilidade" data-ph="agilidade_pilotar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">A</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="pilotar" data-ponto="agilidade" data-ph="agilidade_pilotar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">A</span>
        </button>
      </div>
    </div>
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_pilotar">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="pilotar" data-ponto="intuicao" data-ph="intuicao_pilotar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="pilotar" data-ponto="intuicao" data-ph="intuicao_pilotar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>