<ul class="nav nav-tabs row text-center" role="tablist">
  <li role="presentation" class="active col-xs-3">
    <a href="#potentia_e" aria-controls="potentia_e" role="tab" data-toggle="tab" class="palavra-quebrada">Potentia</a>
  </li>
  <li role="presentation" class="col-xs-3">
    <a href="#misticismo_e" aria-controls="misticismo_e" role="tab" data-toggle="tab" class="palavra-quebrada">Misticismo</a>
  </li>
  <li role="presentation" class="col-xs-3">
    <a href="#mentalismo_e" aria-controls="mentalismo_e" role="tab" data-toggle="tab" class="palavra-quebrada">Mentalismo</a>
  </li>
  <li role="presentation" class="col-xs-3">
    <a href="#maleficorum_e" aria-controls="maleficorum_e" role="tab" data-toggle="tab" class="palavra-quebrada">Maleficorum</a>
  </li>
</ul>