<div role="tabpanel" class="tab-pane row" id="maleficorum_e">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Maleficorum (lógica)</h3>
  </div>
  <div class="col-xs-12 text-center row">
    <div class="col-xs-4">
      <button class="escolha-escola" type="submit" data-escola="maleficorum" data-habilidade="biomancia-necromancia-sanguinomancia" data-ponto="logica" data-ph="logica_maleficorum" data-operacao="soma">
        <span class="glyphicon glyphicon-plus apaga_texto">F</span>
      </button>
    </div>
    <div class="col-xs-2">
      <span>Nv:<span id="maleficorum">0</span></span>
    </div>
    <div class="col-xs-2">
      <span>L:<span id="logica_maleficorum">0</span></span>
    </div>
    <div class="col-xs-4">
      <button class="escolha-escola" type="submit" data-escola="maleficorum" data-habilidade="biomancia-necromancia-sanguinomancia" data-ponto="logica" data-ph="logica_maleficorum" data-operacao="subtracao">
        <span class="glyphicon glyphicon-minus apaga_texto">F</span>
      </button>
    </div>
  </div>
  <div class="col-xs-6">
    <!-- habilidade -_biomancia -->
    {% include2 "habilidades/habilidades_magicas/maleficorum/biomancia.html" %}
    <!-- habilidade necromancia -->
    {% include2 "habilidades/habilidades_magicas/maleficorum/necromancia.html" %}
    <!-- habilidade sanguinomancia -->
    {% include2 "habilidades/habilidades_magicas/maleficorum/sanguinomancia.html" %}
  </div>
</div>