<div role="tabpanel" class="tab-pane row" id="maleficorum">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Maleficorum (lógica)</h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade -_biomancia -->
    {% include2 "habilidades/habilidades_magicas/maleficorum/biomancia.html" %}
    <!-- habilidade necromancia -->
    {% include2 "habilidades/habilidades_magicas/maleficorum/necromancia.html" %}
    <!-- habilidade sanguinomancia -->
    {% include2 "habilidades/habilidades_magicas/maleficorum/sanguinomancia.html" %}
  </div>
</div>