<div role="tabpanel" class="tab-pane row" id="mentalismo_e">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Mentalismo (lógica)</h3>
  </div>
  <div class="col-xs-12 text-center row">
    <div class="col-xs-4">
      <button class="escolha-escola" type="submit" data-escola="mentalismo" data-habilidade="hipnose-ilusionismo-psiomancia" data-ponto="logica" data-ph="logica_mentalismo" data-operacao="soma">
        <span class="glyphicon glyphicon-plus apaga_texto">F</span>
      </button>
    </div>
    <div class="col-xs-2">
      <span>Nv:<span id="mentalismo">0</span></span>
    </div>
    <div class="col-xs-2">
      <span>L:<span id="logica_mentalismo">0</span></span>
    </div>
    <div class="col-xs-4">
      <button class="escolha-escola" type="submit" data-escola="mentalismo" data-habilidade="hipnose-ilusionismo-psiomancia" data-ponto="logica" data-ph="logica_mentalismo" data-operacao="subtracao">
        <span class="glyphicon glyphicon-minus apaga_texto">F</span>
      </button>
    </div>
  </div>
  <div class="col-xs-6">
    <!-- habilidade hipnose -->
    {% include2 "habilidades/habilidades_magicas/mentalismo/hipnose.html" %}
    <!-- habilidade ilusionismo -->
    {% include2 "habilidades/habilidades_magicas/mentalismo/ilusionismo.html" %}
    <!-- habilidade psiomancia -->
    {% include2 "habilidades/habilidades_magicas/mentalismo/psiomancia.html" %}
  </div>
</div>