<div role="tabpanel" class="tab-pane row" id="misticismo_e">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Misticismo (lógica)</h3>
  </div>
  <div class="col-xs-12 text-center row">
    <div class="col-xs-4">
      <button class="escolha-escola" type="submit" data-escola="misticismo" data-habilidade="cronomancia-teleportacao-transmutacao" data-ponto="logica" data-ph="logica_misticismo" data-operacao="soma">
        <span class="glyphicon glyphicon-plus apaga_texto">F</span>
      </button>
    </div>
    <div class="col-xs-2">
      <span>Nv:<span id="misticismo">0</span></span>
    </div>
    <div class="col-xs-2">
      <span>L:<span id="logica_misticismo">0</span></span>
    </div>
    <div class="col-xs-4">
      <button class="escolha-escola" type="submit" data-escola="misticismo" data-habilidade="cronomancia-teleportacao-transmutacao" data-ponto="logica" data-ph="logica_misticismo" data-operacao="subtracao">
        <span class="glyphicon glyphicon-minus apaga_texto">F</span>
      </button>
    </div>
  </div>
  <div class="col-xs-6">
    <!-- habilidade cronomancia -->
    {% include2 "habilidades/habilidades_magicas/misticismo/cronomancia.html" %}
    <!-- habilidade teleportacao -->
    {% include2 "habilidades/habilidades_magicas/misticismo/teleportacao.html" %}
    <!-- habilidade transmutacao -->
    {% include2 "habilidades/habilidades_magicas/misticismo/transmutacao.html" %}
  </div>
</div>