<div role="tabpanel" class="tab-pane row" id="misticismo">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Misticismo (lógica)</h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade cronomancia -->
    {% include2 "habilidades/habilidades_magicas/misticismo/cronomancia.html" %}
    <!-- habilidade teleportacao -->
    {% include2 "habilidades/habilidades_magicas/misticismo/teleportacao.html" %}
    <!-- habilidade transmutacao -->
    {% include2 "habilidades/habilidades_magicas/misticismo/transmutacao.html" %}
  </div>
</div>