<div role="tabpanel" class="tab-pane active row" id="potentia">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Potentia (lógica)</h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade elementalismo -->
    {% include2 "habilidades/habilidades_magicas/potentia/elementalismo.html" %}
    <!-- habilidade protegomancia -->
    {% include2 "habilidades/habilidades_magicas/potentia/protegomancia.html" %}
    <!-- habilidade telecinese -->
    {% include2 "habilidades/habilidades_magicas/potentia/telecinese.html" %}
  </div>
</div>