<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Agilidade" class="text-center">
    <h4 class="cor_vermelho">
        Agilidade
    </h4>
  </div>
  <div  class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <button class="escolha_facil" type="submit" data-facil="agilidade" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">facil</span>
        </button>
      </div>
      <div class="col-xs-4">
        <span id="agilidade">0</span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_facil" type="submit" data-facil="agilidade" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">facil</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>