<div role="tabpanel" class="tab-pane active" id="arma_corpo-a-corpo">
  <div>
    <!-- habilidade armas_de_haste -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/armas_de_haste.html" %}
    <!-- habilidade esgrima -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/esgrima.html" %}
    <!-- habilidade laminas_curtas -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/laminas_curtas.html" %}
    <!-- habilidade laminas_longas -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/laminas_longas.html" %}
    <!-- habilidade lancas_e_cajados -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/lancas_e_cajados.html" %}
    <!-- habilidade machados_e_macas -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/machados_e_macas.html" %}
    <!-- habilidade manguais -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/manguais.html" %}
  </div>
</div>