<div role="tabpanel" class="tab-pane active row" id="arma_corpo-a-corpo">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Arma corpo-a-corpo (força ou agilidade)</h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade armas_de_haste -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/armas_de_haste.html" %}
    <!-- habilidade esgrima -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/esgrima.html" %}
    <!-- habilidade laminas_curtas -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/laminas_curtas.html" %}
    <!-- habilidade laminas_longas -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/laminas_longas.html" %}
  </div>
  <div class="col-xs-6">
    <!-- habilidade lancas_e_cajados -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/lancas_e_cajados.html" %}
    <!-- habilidade machados_e_macas -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/machados_e_macas.html" %}
    <!-- habilidade manguais -->
    {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo/manguais.html" %}
  </div>
</div>