<div role="tabpanel" class="tab-pane row" id="armas_a_distancia">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Armas à distância (agilidade)</h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade arquearia -->
    {% include2 "habilidades/habilidades_de_combate/armas_a_distancia/arquearia.html" %}
    <!-- habilidade armas_automaticas -->
    {% include2 "habilidades/habilidades_de_combate/armas_a_distancia/armas_automaticas.html" %}
    <!-- habilidade armas_longas -->
    {% include2 "habilidades/habilidades_de_combate/armas_a_distancia/armas_longas.html" %}
    <!-- habilidade arremessar_armas -->
    {% include2 "habilidades/habilidades_de_combate/armas_a_distancia/arremessar_armas.html" %}
  </div>
  <div class="col-xs-6">
    <!-- habilidade ataque_magico_ou_sopro -->
    {% include2 "habilidades/habilidades_de_combate/armas_a_distancia/ataque_magico_ou_sopro.html" %}
    <!-- habilidade bestas -->
    {% include2 "habilidades/habilidades_de_combate/armas_a_distancia/bestas.html" %}
    <!-- habilidade pistolas -->
    {% include2 "habilidades/habilidades_de_combate/armas_a_distancia/pistolas.html" %}
    <!-- habilidade esquiva -->
    {% include2 "habilidades/habilidades_de_combate/armas_a_distancia/esquiva.html" %}
  </div>
</div>