<div role="tabpanel" class="tab-pane active" id="golpes_naturais">
  <div>
    <!-- habilidade cauda -->
    {% include2 "habilidades/habilidades_de_combate/golpes_naturais/cauda.html" %}
    <!-- habilidade garras -->
    {% include2 "habilidades/habilidades_de_combate/golpes_naturais/garras.html" %}
    <!-- habilidade golpear -->
    {% include2 "habilidades/habilidades_de_combate/golpes_naturais/golpear.html" %}
    <!-- habilidade luta -->
    {% include2 "habilidades/habilidades_de_combate/golpes_naturais/luta.html" %}
    <!-- habilidade mordida -->
    {% include2 "habilidades/habilidades_de_combate/golpes_naturais/mordida.html" %}
  </div>
</div>