<ul class="nav nav-tabs row text-center" role="tablist">
  <li role="presentation" class="active col-xs-4">
    <a href="#arma_corpo-a-corpo" aria-controls="arma_corpo-a-corpo" role="tab" data-toggle="tab">Arma corpo-a-corpo</a>
  </li>
  <li role="presentation" class="col-xs-4">
    <a href="#armas_a_distancia" aria-controls="armas_a_distancia" role="tab" data-toggle="tab">Armas à distância</a>
  </li>
  <li role="presentation" class="col-xs-4">
    <a href="#armas_a_distancia" aria-controls="armas_a_distancia" role="tab" data-toggle="tab">Golpes naturais</a>
  </li>
</ul>