<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Audição" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Audição
    </h4>
    <span> Nv: </span>
    <span id="audicao"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_audicao">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="audicao" data-ponto="intuicao" data-ph="intuicao_audicao" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="audicao" data-ponto="intuicao" data-ph="intuicao_audicao" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A habilidade e a precisão da audição do personagem. O máximo desta habilidade para personagens que não possuam um bônus de audição é 10.</p>
    <p>Personagens que possuam a vantagem de sonar ou a adquiram com o bônus de nível aumentam em 3m o alcance de sua percepção por cada ponto nesta habilidade.</p>
    <p>Ao ser usada com sucesso para detectar inimigos utilizando surdina, essa habilidade dá ao usuário a noção geral de onde o barulho se originou.</p>
    <p>Um personagem com sonar tem sucesso automático contra surdina em seu raio de sonar e descobre a posição exata do oponente, a menos que esteja ensurdecido.</p>
    <p>A cada 5m se recebe 1 ponto de penalidade para ouvir algo.</p>
    <h4>Bônus de nível:</h4>
    <p>Ao atingir o 10º nível nesta habilidade (incluindo bônus), um personagem ganha à vantagem de sonar, podendo perceber sonoramente o ambiente tão bem quanto pela visão à até 10m.</p>
  </div>
</div>