<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Atletismo">
    <h4 class="cor_vermelho">
        Audição
    </h4>
    <span> Nv: </span>
    <span id="audicao"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <span> intuição: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="intuicao_audicao" class="escolha_habilidade espaco_input" data-habilidade="audicao">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>