<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Farejar" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Farejar X
    </h4>
    <span> Nv: </span>
    <span id="farejar"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_farejar">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="farejar" data-ponto="intuicao" data-ph="intuicao_farejar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="farejar" data-ponto="intuicao" data-ph="intuicao_farejar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A habilidade de utilizar olfato apurado para perceber o mundo. Essa habilidade dá um bônus igual a 1/3 de seu valor para sentir motivação e rastrear.</p>
    <p>Ao ser usada com sucesso para detectar inimigos utilizando surdina, essa habilidade faz o personagem saber da presença do oponente, sua raça, distância e direção aproximadas.</p>
    <p>A cada 100m se recebe 1 ponto de penalidade para farejar algo.</p>
    <p>X: Essa habilidade pode ser usada apenas por personagens com o dom de farejar, como orquinos ou personagens usando poções de sentidos.</p>
  </div>
</div>