<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Investigar" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Investigar
    </h4>
    <span> Nv: </span>
    <span id="investigar"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_investigar">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="investigar" data-ponto="intuicao" data-ph="intuicao_investigar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="investigar" data-ponto="intuicao" data-ph="intuicao_investigar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>    
  </div>
  <div class="del-pop">
    <p>A habilidade de procurar por detalhes, descobrir fraudes, encontrar armadilhas e outros objetos escondidos, deliberadamente ou não.</p>
    <ul>
      <li>
        <span class="cor_vermelho">Visão: -2 atual: </span><span id="gen-visao-visao" class="penalidade">-2</span>
        <div class="row text-center">
          <div class="col-xs-4">
            <button class="escolha-generalizacao" type="submit" data-habilidade="investigar" data-generalizacao="visao" data-operacao="soma" data-ponto="intuicao">
              <span class="glyphicon glyphicon-plus apaga_texto">A</span>
            </button>
          </div>
          <div class="col-xs-4 text-center">
            <span>I</span>
          </div>
          <div class="col-xs-4 text-center">
            <button class="escolha-generalizacao" type="submit" data-habilidade="investigar" data-generalizacao="visao" data-operacao="subtracao" data-ponto="intuicao">
              <span class="glyphicon glyphicon-minus apaga_texto">A</span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>