<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Atletismo" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Visão
    </h4>
    <span> Nv: </span>
    <span id="visao"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_visao">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="visao" data-ponto="intuicao" data-ph="intuicao_visao" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="visao" data-ponto="intuicao" data-ph="intuicao_visao" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A habilidade e acuidade visual do personagem.</p>
    <p>Ao ser usada com sucesso para detectar inimigos utilizando surdina, essa habilidade faz o personagem ver o oponente.</p>
    <p>A cada 5m se recebe 1 ponto de penalidade para observar algo.</p>
    <h4>Bônus de nível:</h4>
    <p>Ao atingir o 5º nível nesta habilidade (incluindo bônus), um personagem diminui a penalidade de distância para -1 a cada 20m.</p>
    <p>Ao atingir o 10º nível nesta habilidade (incluindo bônus), um personagem diminui a penalidade de distância para -1 a cada 100m.</p>
    <ul>
      <li>
        <span class="cor_vermelho">Rastrear: -2 atual: </span><span id="gen-rastrear-rastrear" class="penalidade">-2</span>
        <div class="row text-center">
          <div class="col-xs-4">
            <button class="escolha-generalizacao" type="submit" data-habilidade="visao" data-generalizacao="rastrear" data-operacao="soma" data-ponto="intuicao">
              <span class="glyphicon glyphicon-plus apaga_texto">A</span>
            </button>
          </div>
          <div class="col-xs-4 text-center">
            <span>I</span>
          </div>
          <div class="col-xs-4 text-center">
            <button class="escolha-generalizacao" type="submit" data-habilidade="visao" data-generalizacao="rastrear" data-operacao="subtracao" data-ponto="intuicao">
              <span class="glyphicon glyphicon-minus apaga_texto">A</span>
            </button>
          </div>
        </div>
      </li>
      <li>
        <span class="cor_vermelho">Investigar: -2 atual: </span><span id="gen-investigar-investigar" class="penalidade">-2</span>
        <div class="row text-center">
          <div class="col-xs-4">
            <button class="escolha-generalizacao" type="submit" data-habilidade="visao" data-generalizacao="investigar" data-operacao="soma" data-ponto="intuicao">
              <span class="glyphicon glyphicon-plus apaga_texto">A</span>
            </button>
          </div>
          <div class="col-xs-4 text-center">
            <span>I</span>
          </div>
          <div class="col-xs-4 text-center">
            <button class="escolha-generalizacao" type="submit" data-habilidade="visao" data-generalizacao="investigar" data-operacao="subtracao" data-ponto="intuicao">
              <span class="glyphicon glyphicon-minus apaga_texto">A</span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>