<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Aprender língua">
    <h3 class="cor_vermelho">
        Aprender língua (Intuição ou carisma)
    </h3>
  </div>
  <div>
    <span> intuição: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuicao_aprender_lingua" class="escolha_habilidade espaco_input" data-habilidade="aprender_lingua">
    <span> carisma: </span>
    <input type="number" name="quantity" min="0" max="2" id="carisma_aprender_lingua" class="escolha_habilidade espaco_input" data-habilidade="aprender_lingua">
  </div>
  <div class="del-pop">
  </div>
</div>