<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Aprender língua" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Aprender língua X
    </h4>
    <span> Nv: </span>
    <span id="aprender_lingua"> 0 </span>
  </div>
  <div class="row">    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_aprender_lingua">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="aprender_lingua" data-ponto="intuicao" data-ph="intuicao_aprender_lingua" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="aprender_lingua" data-ponto="intuicao" data-ph="intuicao_aprender_lingua" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_aprender_lingua">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="aprender_lingua" data-ponto="carisma" data-ph="carisma_aprender_lingua" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="aprender_lingua" data-ponto="carisma" data-ph="carisma_aprender_lingua" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A cada nível, se melhora em um passo a proficiência em uma língua. Todos os personagens sabem ao menos uma língua, a sua nativa, mais uma extra para cada ponto de carisma.</p>
    <p>X: Proficiência tem 3 níveis adquiríveis e um quarto que não pode ser adquirido.</p>
    <p>Ela progride da seguinte forma: Ruim -> Bom -> Fluente -> Nativo.</p>
    <p>Não é possível comprar proficiência de nível nativo.</p>
    <p>Há uma penalidade de -3 em todos os testes relacionados à conversa caso seu conhecimento de uma língua seja ruim, -1 para bom, e nada para fluente, mas falantes nativos percebem que você é um estrangeiro.</p>
  </div>
</div>