<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Banimento">
    <h3 class="cor_vermelho">
        Banimento (Intuição ou carisma)
    </h3>
  </div>
  <div>
    <span> intuição: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuicao_banimento" class="escolha_habilidade espaco_input" data-habilidade="banimento">
    <span> carisma: </span>
    <input type="number" name="quantity" min="0" max="2" id="carisma_banimento" class="escolha_habilidade espaco_input" data-habilidade="banimento">
  </div>
  <div class="del-pop">
  </div>
</div>