<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Banimento" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Banimento
    </h4>
    <span> Nv: </span>
    <span id="banimento"> 0 </span>
  </div>
  <div class="row">    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_banimento">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="banimento" data-ponto="intuicao" data-ph="intuicao_banimento" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="banimento" data-ponto="intuicao" data-ph="intuicao_banimento" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_banimento">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="banimento" data-ponto="carisma" data-ph="carisma_banimento" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="banimento" data-ponto="carisma" data-ph="carisma_banimento" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>Banimento é a arte de defesa contra magia, podendo proteger uma área ao redor do Banidor de qualquer efeito mágico, dificultar a conjuração de um arcanista que o banidor veja e ser usado para resistir magias da mesma forma que Força de Vontade.</p>
    <p>Banimento exige concentração para que possa ser utilizado de forma contínua, impedindo que o banidor reaja sem quebrar o banimento.</p>
    <p>O uso de banimento em área efetivamente funciona como um teste de Força de Vontade para todos na área afetada (o tipo e tamanho da área inflige uma penalidade no teste da mesma forma que magias).</p>
    <p>‘Banir’ um mago aumenta a dificuldade dos testes de conjuração do mago em um valor igual à metade do seu nível final de banimento. O arcanista tem plena noção do quanto a sua conjuração está sendo afetada.</p>
  </div>
</div>