<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Concentração" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Concentração
    </h4>
    <span> Nv: </span>
    <span id="concentracao"> 0 </span>
  </div>
  <div class="row">    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_concentracao">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="concentracao" data-ponto="intuicao" data-ph="intuicao_concentracao" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="concentracao" data-ponto="intuicao" data-ph="intuicao_concentracao" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_concentracao">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="concentracao" data-ponto="carisma" data-ph="carisma_concentracao" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="concentracao" data-ponto="carisma" data-ph="carisma_concentracao" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>Você deve realizar um teste de concentração toda vez que algo o distrair de uma atividade, ou para manter uma magia.</p>
    <p>Essa coisa pode ser movimento vigoroso, tempo ruim, restrição de movimentos, dano e ferimentos, conversas, efeitos mágicos, etc.</p>
    <p>Um mago que queira manter sua magia por um tempo deve realizar um teste de concentração com dificuldade igual a FM/2, ou então sua magia se desfaz. Mais detalhes no capítulo de magias.</p>
  </div>
</div>