<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Concentração">
    <h4 class="cor_vermelho">
        Concentração
    </h4>
    <span> Nv: </span>
    <span id="concentracao"> 0 </span>
  </div>
  <div class="row">    
    <div class="col-xs-4">
      <span> intuição: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="intuicao_concentracao" class="escolha_habilidade espaco_input" data-habilidade="concentracao">
    </div>    
    <div class="col-xs-4">
      <span> carisma: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="carisma_concentracao" class="escolha_habilidade espaco_input" data-habilidade="concentracao">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>