<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Força de Vontade">
    <h4 class="cor_vermelho">
        Força de Vontade
    </h4>
    <span> Nv: </span>
    <span id="forca_de_vontade"> 0 </span>
  </div>
  <div class="row">    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_forca_de_vontade">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="forca_de_vontade" data-ponto="intuicao" data-ph="intuicao_forca_de_vontade" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="forca_de_vontade" data-ponto="intuicao" data-ph="intuicao_forca_de_vontade" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_forca_de_vontade">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="forca_de_vontade" data-ponto="carisma" data-ph="carisma_forca_de_vontade" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="forca_de_vontade" data-ponto="carisma" data-ph="carisma_forca_de_vontade" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>