<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Força de Vontade">
    <h4 class="cor_vermelho">
        Força de Vontade
    </h4>
    <span> Nv: </span>
    <span id="forca_de_vontade"> 0 </span>
  </div>
  <div class="row">    
    <div class="col-xs-4">
      <span> intuição: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="intuicao_forca_de_vontade" class="escolha_habilidade espaco_input" data-habilidade="forca_de_vontade">
    </div>    
    <div class="col-xs-4">
      <span> carisma: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="carisma_forca_de_vontade" class="escolha_habilidade espaco_input" data-habilidade="forca_de_vontade">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>