<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Mecânico" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Mecânico
    </h4>
    <span> Nv: </span>
    <span id="mecanico"> 0 </span>
  </div>
  <div class="row">    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_mecanico">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="mecanico" data-ponto="intuicao" data-ph="intuicao_mecanico" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="mecanico" data-ponto="intuicao" data-ph="intuicao_mecanico" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_mecanico">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="mecanico" data-ponto="carisma" data-ph="carisma_mecanico" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="mecanico" data-ponto="carisma" data-ph="carisma_mecanico" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A habilidade de consertar mecanismos complexos, de prensas industriais a motores.</p>
  </div>
</div>