<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Navegar">
    <h4 class="cor_vermelho">
        Navegar
    </h4>
  </div>
  <div class="row">    
    <div class="col-xs-4">
      <span> intuição: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="intuicao_navegar" class="escolha_habilidade espaco_input" data-habilidade="navegar">
    </div>    
    <div class="col-xs-4">
      <span> carisma: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="carisma_navegar" class="escolha_habilidade espaco_input" data-habilidade="navegar">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>