<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Operar máquina">
    <h3 class="cor_vermelho">
        Operar máquina (Intuição ou carisma)
    </h3>
  </div>
  <div>
    <span> intuição: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuicao_operar_maquina" class="escolha_habilidade espaco_input" data-habilidade="operar_maquina">
    <span> carisma: </span>
    <input type="number" name="quantity" min="0" max="2" id="carisma_operar_maquina" class="escolha_habilidade espaco_input" data-habilidade="operar_maquina">
  </div>
  <div class="del-pop">
  </div>
</div>