<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Operar máquina" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Operar máquina
    </h4>
    <span> Nv: </span>
    <span id="operar_maquina"> 0 </span>
  </div>
  <div class="row">    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_operar_maquina">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="operar_maquina" data-ponto="intuicao" data-ph="intuicao_operar_maquina" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="operar_maquina" data-ponto="intuicao" data-ph="intuicao_operar_maquina" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_operar_maquina">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="operar_maquina" data-ponto="carisma" data-ph="carisma_operar_maquina" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="operar_maquina" data-ponto="carisma" data-ph="carisma_operar_maquina" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A habilidade de operar maquinário, como um operário. Isso pode ser necessário para o funcionamento de um veículo.</p>
  </div>
</div>