<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Sobrevivência" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Sobrevivência
    </h4>
    <span> Nv: </span>
    <span id="sobrevivencia"> 0 </span>
  </div>
  <div class="row">    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_sobrevivencia">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="sobrevivencia" data-ponto="intuicao" data-ph="intuicao_sobrevivencia" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="sobrevivencia" data-ponto="intuicao" data-ph="intuicao_sobrevivencia" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>    
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_sobrevivencia">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="sobrevivencia" data-ponto="carisma" data-ph="carisma_sobrevivencia" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="sobrevivencia" data-ponto="carisma" data-ph="carisma_sobrevivencia" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A habilidade de conseguir comida, água, evitar perigos naturais e fazer pequenas previsões do tempo em um ambiente.</p>
    <p>É necessário se especializar em um tipo específico de ambiente, como floresta temperada, floresta tropical, deserto, pradaria, etc.</p>
    <p>A penalidade de generalização é dependente das diferenças entre os ambientes. Ambientes muito diferentes (deserto e florestas) não tem qualquer possibilidade de generalização.</p>
  </div>
</div>