<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Uso de explosivos">
    <h3 class="cor_vermelho">
        Uso de explosivos (Intuição ou carisma)
    </h3>
  </div>
  <div>
    <span> intuição: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuicao_uso_de_explosivos" class="escolha_habilidade espaco_input" data-habilidade="uso_de_explosivos">
    <span> carisma: </span>
    <input type="number" name="quantity" min="0" max="2" id="carisma_uso_de_explosivos" class="escolha_habilidade espaco_input" data-habilidade="uso_de_explosivos">
  </div>
  <div class="del-pop">
  </div>
</div>