<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Acrobacia" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Acrobacia
    </h4>
    <span> Nv: </span>
    <span id="acrobacia"> 0 </span>
  </div>
  <div class="row">
      <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>A:<span id="agilidade_acrobacia">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="acrobacia" data-ponto="agilidade" data-ph="agilidade_acrobacia" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">A</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="acrobacia" data-ponto="agilidade" data-ph="agilidade_acrobacia" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">A</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>Acrobacia engloba toda e quaisquer piruetas de ginástica, rolagens, habilidade de absorver quedas, pular, equilíbrio, etc.</p>
    <p>Isso é sempre útil em uma aventura, habilidades aparentemente inúteis como andar em corda bamba podem salvar um personagem. A velocidade ao se mover utilizando acrobacia é a metade da normal, exceto durante um pulo.</p>
    <h4>Bônus de nível:</h4>
    <p>Ao atingir o 4º nível nesta habilidade, o personagem se move na velocidade padrão.</p>
  </div>
</div>