<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Atletismo" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Atletismo
    </h4>
    <span> Nv: </span>
    <span id="atletismo"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>F:<span id="intuicao_atletismo">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="atletismo" data-ponto="forca" data-ph="intuicao_atletismo" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">F</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="atletismo" data-ponto="forca" data-ph="intuicao_atletismo" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">F</span>
        </button>
      </div>
    </div>
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>A:<span id="agilidade_atletismo">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="atletismo" data-ponto="agilidade" data-ph="agilidade_atletismo" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">A</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="atletismo" data-ponto="agilidade" data-ph="agilidade_atletismo" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">A</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>Atletismo engloba a capacidade do personagem se deslocar, seja correndo, nadando ou escalando. Velocidades de escalada e natação são ¼ da base a menos que se diga o contrário.</p>
    <h4>Bônus de nível:</h4>
    <p>A cada 2 níveis, o deslocamento de terra do personagem cresce em 20% (arredondado para baixo).</p>
    <p>Ao atingir o 4º nível desta habilidade, o personagem automaticamente é capaz de se mover à metade de seu deslocamento de terra ao escalar ou nadar.</p>
  </div>
</div>