<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Atletismo">
    <h3 class="cor_vermelho">
        Atletismo (Força ou agilidade)
    </h3>
  </div>
  <div>
    <span> força: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuicao_atletismo" class="escolha_habilidade espaco_input" data-habilidade="atletismo">
    <span> agilidade: </span>
    <input type="number" name="quantity" min="0" max="2" id="agilidade_atletismo" class="escolha_habilidade espaco_input" data-habilidade="atletismo">
  </div>
  <div class="del-pop">
  </div>
</div>