<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Cavalgar" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Cavalgar
    </h4>
    <span> Nv: </span>
    <span id="cavalgar"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>A:<span id="agilidade_cavalgar">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="cavalgar" data-ponto="agilidade" data-ph="agilidade_cavalgar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">A</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="cavalgar" data-ponto="agilidade" data-ph="agilidade_cavalgar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">A</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>Cavalgar inclui o uso de qualquer montaria viva, como cavalos, grandes cachorros, tigres, dragões, etc.</p>
    <p>O jogador deve escolher um tipo de animal que saiba cavalgar.</p>
    <p>A penalidade de generalização entre animais diferentes é de -1</p>
    <h4>Bônus de nível:</h4>
    <p>Ao atingir o 4º nível nesta habilidade, o personagem não recebe -1 em seus ataques quando sua montaria ataca no mesmo turno que ele.</p>
  </div>
</div>