<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Altruísta" data-vantagem="altruista">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Altruísta
    </span>
  </label>
  <div class="del-pop">
    <p>-5 pontos</p>
    <p>Você é altruísta e prefere se sacrificar a ver um amigo morrer. Você se importa pouco com fama ou riqueza pessoal.</p>
    <p>Você precisa fazer um teste de Força de Vontade caso queira colocar suas necessidades acima da dos outros, ou não se sacrificar caso creia que isso irá salvar alguém.</p>
  </div> 
</div>