<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Baixa autoestima" data-vantagem="baixa_autoestima" data-quantidade="baixa_autoestima">
    <input type="checkbox" checked class="imput-invisivel aparece">
    <span>
     Baixa autoestima
    </span>
  </label>
  <div class="del-pop">
    <p>-10 ou -15 pontos</p>
    <p>Você não tem confiança em suas habilidades ou em si mesmo.</p>
    <p>Escolha uma habilidade ou grupo de habilidades relacionadas que você possua pelo menos 2 níveis. Caso seja um grupo, todas as habilidades devem ter ao menos 2 pontos. Toda vez que você tenta realizar um teste com rolagem de dados nessa habilidade, receba -5 no dado.</p>
    <p>Essa desvantagem pode ser adquirida por:</p>
    <p>-10 pontos para uma única habilidade</p>
    <p>-15 para um grupo de habilidades relacionadas</p>
  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="2" id="baixa_autoestima" value="1" class="escondido">
  </div>
</div>
