<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Barulhento" data-vantagem="barulhento" data-quantidade="barulhento">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel aparece">
    <span>
     Barulhento
    </span>
  </label>
  <div class="del-pop">
    <p>-5 ou -10 pontos.</p>
    <p>Suas juntas estalam, seus pés batem no chão com estrondos, panelas caem no chão com o seu mero olhar. Seja qual for o motivo, sua chegada é anunciada para qualquer um que não seja surdo. Você recebe -1 em todos os testes de surdina quando estiver se movendo.</p>
    <p>Com -10 pontos, você recebe -3 nesses testes.</p>
  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="2" id="barulhento" value="1" class="escondido">
  </div>
</div>
