<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Código de honra" data-vantagem="codigo_de_honra" data-quantidade="codigo_de_honra">
    <input type="checkbox" checked class="imput-invisivel aparece">
    <span>
     Código de honra
    </span>
  </label>
  <div class="del-pop">
    <p>-5 ou-10 pontos</p>
    <p>Você segue orgulhosamente um conjunto de princípios durante todo o tempo. As especificidades variam, mas todos envolvem comportamentos 'honrosos'.</p>
    <p>Você fará de tudo para evitar ser desonrado, o que quer que isso signifique para você. Você deve seguir à risca o código, não apenas dizer que segue.</p>
    <p>O valor em pontos do código de honra depende do quão arbitrário, irracional e perigoso para você ele é.</p>
    <p>Um código de honra que se aplica apenas aos seus semelhantes (Nobreza, Honra de Guerreiro) vale -5 pontos.</p>
    <p>Um código de honra que se aplica a todo o tempo com todos, ou que requer suicídio se quebrado (Voto de Cavaleiro, Bushido) vale -10.</p>
  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="2" id="codigo_de_honra" value="1" class="escondido">
  </div>
</div>
