<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem" data-toggle="popover" data-placement="right" data-container="body" title="Condutor arcano" data-vantagem="condutor_arcano">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Condutor arcano
    </span>
  </label>
  <div class="del-pop">

    <p>-5 pontos</p>
    <p>Você tem grande poder mágico correndo em suas veias. Grande demais. Você se torna um arcanista nato, um Praecantator, mas é muito mais vulnerável aos efeitos prejudiciais da magia.</p>
    <p>Todo dano por conjuração falha é dobrado e você recebe -2 em testes de Força de Vontade ou banimento para resistir magias.</p>
  </div> 
</div>