<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem" data-toggle="popover" data-placement="right" data-container="body" title="Covarde" data-vantagem="covarde">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel">
    <span>
     Covarde
    </span>
  </label>
  <div class="del-pop">

    <p>-5 pontos</p>
    <p>Você é extremamente cuidadoso com a manutenção da sua vida, e os outros que se danem.</p>
    <p>Você precisa fazer um teste de Força de Vontade para colocar a si próprio em rico de se ferir, ou (deuses o livre) colocar-se em risco de morte.</p>
    <p>Caso falhe, você deve recusar e agir nas melhores capacidades para evitar o perigo, a menos que isso cause um perigo ainda maior.</p>
    <p>Você recebe -2 para testes de medo.</p>
  </div> 
</div>