<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Dislexia" data-vantagem="dislexia" data-quantidade="dislexia">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel aparece">
    <span>
     Dislexia
    </span>
  </label>
  <div class="del-pop">

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="2" id="dislexia" value="1" class="escondido">
  </div>
</div>
