<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem" data-toggle="popover" data-placement="right" data-container="body" title="Egoísta" data-vantagem="egoista">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Egoísta
    </span>
  </label>
  <div class="del-pop">

    <p>-5 pontos</p>
    <p>Você é extremamente egoísta e sempre procura por maior status social e poder, não importa por cima de quem você tenha que passar. Isso inclui os seus ‘amigos’.</p>
    <p>Você precisa fazer um teste de Força de Vontade para colocar as necessidades dos outros acima das suas.</p>
  </div> 
</div>