<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Estigma social" data-vantagem="estigma_social" data-quantidade="estigma_social">
    <input type="checkbox" checked class="imput-invisivel aparece">
    <span>
     Estigma social
    </span>
  </label>
  <div class="del-pop">

    <p>-5, -10 ou -20 pontos</p>
    <p>Você pertence a uma raça ou classe social estigmatizada, ou cometeu crimes em sua vida, e tem penalidades em interação com outras pessoas, caso elas se importem. Caso você seja de uma raça estigmatizada, os pontos já foram contados durante a escolha de raça.</p>
    <p>O estigma varia de acordo com a sociedade, a sociedade que será usada como base é a humana.</p>
    <p>-5 Leve:</p>
    <p>Racial para elanos, halflings, Dyns-o-Brens e lobisomens no sacro reino. (Miseráveis e pequenos criminosos)</p>
    <p>-1 de penalidade em testes interpessoais.</p>
    <p>-10 Moderado:</p>
    <p>Racial para elfos, vampiros dentro do sacro reino (Criminosos típicos)</p>
    <p>-2 de penalidade em testes interpessoais, possível restrição de ir e vir.</p>
    <p>20 Alta:</p>
    <p>Raças não humanas no sacro reino, Lobisomens e vampiros fora do sacro reino. (Assassinos, Estupradores, Traidores, Escravos)</p>
    <p>-3 de penalidade em testes interpessoais, restrição de ir e vir, vigia constante de guardas, possível formação de turbas querendo sua cabeça).</p>
  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="3" id="estigma_social" value="1" class="escondido">
  </div>
</div>
