<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem" data-toggle="popover" data-placement="right" data-container="body" title="Fanatismo" data-vantagem="fanatismo">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel">
    <span>
     Fanatismo
    </span>
  </label>
  <div class="del-pop">

    <p>-5 pontos</p>
    <p>Você tem uma crença muito forte em uma religião, organização, filosofia ou nação que você a bota a frente de tudo.</p>
    <p>Você tem que demonstrar seu fanatismo em todo tipo de interação cabível. Se o objeto de seu fanatismo requer lealdade, você DEVE ser completamente leal a ele.</p>
  </div> 
</div>