<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Fobia" data-vantagem="fobia" data-quantidade="fobia">
    <input type="checkbox" checked class="imput-invisivel aparece">
    <span>
     Fobia
    </span>
  </label>
  <div class="del-pop">

    <p>-5 a -15 pontos</p>
    <p>Você sente um medo extremo e irracional de algo. Você deve realizar um teste de Força de Vontade para resistir aos efeitos da fobia.</p>
    <p>Caso falhe, sua sanidade é reduzida a 0.</p>
    <p>Você deve realizar o teste a cada minuto que fique exposto à situação ou objeto da fobia. Algumas fobias são claramente péssimas para o jogo, e serão impedidas de serem usadas por jogadores. Ter medo de algo que é impossível de acontecer para a sua raça (como medo de escuro para anões) não é válido.</p>
    <p>Quanto mais comum e ou difícil de evitar for o gatilho de sua fobia, maior é o número de pontos que se recebe, conforme decidido pelo mestre dependendo de sua campanha (Aquafobia em uma campanha desértica é praticamente irrelevante, por exemplo).</p>
  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="2" id="fobia" value="1" class="escondido">
  </div>
</div>
