<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Ganância" data-vantagem="ganancia">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Ganância
    </span>
  </label>
  <div class="del-pop">

    <p>-5 pontos</p>
    <p>Você está extremamente preocupado em conservar e expandir sua riqueza.</p>
    <p>Você deve realizar um teste de Força de Vontade para resistir a qualquer situação em que riquezas são oferecidas ou estão em fácil acesso.</p>
  </div> 
</div>