<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem" data-toggle="popover" data-placement="right" data-container="body" title="Incapaz de mentir" data-vantagem="incapaz_de_mentir">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Incapaz de mentir
    </span>
  </label>
  <div class="del-pop">

    <p>-10 pontos</p>
    <p>Você odeia mentir, ou simplesmente é péssimo nisso. Rode um teste de Força de Vontade toda vez que você ouvir alguém mentindo em seu benefício ou para você mesmo mentir.</p>
    <p>Se você falhar você começa a demonstrar tanto nervosismo que outros veem que algo está errado.</p>
    <p>Você recebe -4 para testes de blefar.</p>
  </div> 
</div>