<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Língua presa" data-vantagem="lingua_presa">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Língua presa
    </span>
  </label>
  <div class="del-pop">

    <p>-5 pontos</p>
    <p>Você tem algum problema de dicção, fala de forma irritante ou tem manias incômodas. -1 para carisma e -1 para testes interpessoais.</p>
  </div> 
</div>