<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-desvantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Obrigação" data-desvantagem="obrigacao" data-quantidade="obrigacao">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel aparece">
    <span>
     Obrigação
    </span>
  </label>
  <div class="del-pop">

  </div> 
  <div class="distancia_input escondido_des" id="obrigacao">
    <input type="number" name="quantity" min="1" max="2" id="obrigacao1" value="1">
    <input type="number" name="quantity" min="1" max="2" id="obrigacao2" value="1">
  </div>
</div>
