<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-desvantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Obrigação" data-desvantagem="obrigacao" data-quantidade="obrigacao">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel aparece">
    <span>
     Obrigação
    </span>
  </label>
  <div class="del-pop">

    <p>Se sua ocupação ou situação social lhe enchem de obrigações com outras pessoas ou governos. Obrigações auto impostas são discutidas em votos ou senso de dever.</p>
    <p>Certas obrigações são pouco condizentes com a vida de aventureiro, e é bem recomendado que se pense bem antes de adquirir essa desvantagem.</p>
    <p>X= O custo de uma obrigação depende do quanto ela será relevante e da periculosidade dela.</p>
    <h4 class="cor_vermelho">Frequência:</h4>
    <p>Todo o tempo: -15 pontos Um soldado numa guerra, um bebê.</p>
    <p>Frequentemente: -10 pontos Um guarda que patrulha a cidade de dia, filho pequeno.</p>
    <p>Às vezes: -5 pontos Alguém que esteja devendo favores à máfia.</p>
    <h4 class="cor_vermelho">Periculosidade:</h4>
    <p>Ameaças: -5 pontos Sua obrigação é mantida por ameaças a entes queridos.</p>
    <p>Extrema: -5 pontos Você está sempre em risco de morrer ou se ferir gravemente em sua obrigação, e ela geralmente envolve combate.</p>
    <p>Não perigosa: +5 pontos Sua obrigação nunca arrisca sua vida, o máximo que pode acontecer é uma pena de menos de 5 anos de cadeia ou uma multa grande.</p>
  </div> 
  <div class="distancia_input escondido_des" id="obrigacao" >
    <input type="number" name="quantity" min="1" max="3" id="obrigacao1" value="1">
    <input type="number" name="quantity" min="1" max="3" id="obrigacao2" value="1">
  </div>
</div>
