<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem" data-toggle="popover" data-placement="right" data-container="body" title="Orgulho" data-vantagem="orgulho">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel">
    <span>
     Orgulho
    </span>
  </label>
  <div class="del-pop">

    <p>-5 pontos</p>
    <p>O personagem é orgulhoso demais em suas habilidades, não admitindo seus erros, falhas e falta de habilidade, não pedindo ajuda e fazendo até missões suicidas por não admitir que não possui a competência para isso.</p>
    <p>Não apenas isso, mas alguém que perceba que o personagem é orgulhoso através de um teste de sentir motivação aumenta em 2 seu teste de blefar para tentar engana-lo ou convence-lo apelando para seu orgulho.</p>
    <p>O personagem é orgulhoso em qualquer habilidade que possua 3 ou mais níveis.</p>
  </div> 
</div>