<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Piromania" data-vantagem="piromania">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Piromania
    </span>
  </label>
  <div class="del-pop">

    <p>-5 pontos</p>
    <p>Burn baby burn. Você adora ver coisas queimando. Qualquer coisa. Sempre que quiser destruir alguma coisa deve tentar fazer isso através de chamas, e realizar um teste de Força de Vontade para não incendiar algo que despreze caso tenha oportunidade.</p>
    <p>Você tem definitivamente um parafuso (ou vários) a menos, recebendo -2 de sanidade, mas adquire dessensibilizado (fogo) sem perder sanidade adicional.</p>
  </div> 
</div>