<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem" data-toggle="popover" data-placement="right" data-container="body" title="Pouca tolerância a dor" data-vantagem="pouca_tolerancia_a_dor">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Pouca tolerância a dor
    </span>
  </label>
  <div class="del-pop">

    <p>-5 pontos</p>
    <p>Você chora como um bebê toda vez que corta o dedo com papel.</p>
    <p>Você é muito sensível a dor de todo tipo, precisando diminuindo em 5 todas as suas rodadas de dado ao testar para resistir dor.</p>
  </div> 
</div>