<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Psicopatia" data-vantagem="psicopatia" data-quantidade="psicopatia">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel aparece">
    <span>
     Psicopatia
    </span>
  </label>
  <div class="del-pop">
    <p>-15 ou -30 pontos</p>
    <p>Psicopatia é uma doença mental de personalidade, onde os afetados têm comportamento antissocial, redução nos sentimentos de empatia, remorso e emoções em geral e comportamento desinibido.</p>
    <p>Com -15 pontos você tem um caso moderado da desordem, tendo a maioria das características, mas em gravidade menor. Você não sente nada ao fazer mal a outro, e mal consegue entender as emoções. Você, porém, consegue viver razoavelmente bem em sociedade, mesmo que explorando e parasitando aqueles que estejam em sua volta. Você recebe automaticamente a desvantagem de egoísmo além dos efeitos acima, sem receber pontos.</p>
    <p>Você recebe -3 de sanidade, mas adquire dessensibilizado (medo, morte e monstros) sem perder sanidade adicional.</p>
    <p>Com -30 pontos a palavra ‘sanidade’ passa longe da sua cabeça. Você não só não se importa com a dor e infortúnio alheio como também tira uma satisfação especial em causa-la. Você recebe automaticamente as desvantagens de Egoísmo, Sádico e Sede de sangue, sem receber pontos.</p>
    <p>Você recebe -7 de sanidade, mas adquire dessensibilizado (medo, morte e monstros) sem perder sanidade adicional.</p>
  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="2" id="psicopatia" value="1" class="escondido">
  </div>
</div>
