<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Sádico" data-vantagem="sadico">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Sádico
    </span>
  </label>
  <div class="del-pop">

    <p>-10 pontos</p>
    <p>Você ADORA crueldade, especialmente quando vem de suas mãos. Isso não significa matar todos que você pode, apenas que você gosta de vê-los sofrendo.</p>
    <p>Você precisa fazer um teste de Força de Vontade para segurar seus desejos quando for necessário. Você tem -2 de penalidade para testes interpessoais com aqueles que conheçam o seu probleminha, exceto se eles forem sádicos também.</p>
    <p>Você tem -2 de sanidade, mas adquire dessensibilizado (sangue e morte) sem perder sanidade adicional.</p>
  </div> 
</div>