<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Senso de dever" data-vantagem="senso_de_dever" data-quantidade="senso_de_dever">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel aparece">
    <span>
     Senso de dever
    </span>
  </label>
  <div class="del-pop">

    <p>Variável</p>
    <p>Você acha que possui um dever com um certo grupo, e deve agir da forma que é melhor para aquele grupo, sempre.</p>
    <h4>Pequeno grupo:</h4>
    <p>(Seus companheiros, amigos próximos, família) -5 pontos</p>
    <h4>Grande grupo:</h4>
    <p>(Nação, raça ou religião) -10 pontos</p>  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="2" id="senso_de_dever" value="1" class="escondido">
  </div>
</div>
