<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Teimoso" data-vantagem="teimoso">
    <input type="checkbox" checked class="imput-invisivel">
    <span>
     Teimoso
    </span>
  </label>
  <div class="del-pop">

    <p>-5 pontos</p>
    <p>Você quer que as coisas sejam feitas da sua maneira, sempre. Seus parceiros vão ter que ter muita paciência para lhe convencer dos seus planos.</p>
    <p>1 para carisma e penalidade de -1 em qualquer tipo de negociação.</p>
  </div> 
</div>