<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem" data-toggle="popover" data-placement="right" data-container="body" title="Tolo" data-vantagem="tolo">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel">
    <span>
     Tolo
    </span>
  </label>
  <div class="del-pop">

    <p>-10 pontos</p>
    <p>Você é um tolo. Você acredita em tudo o que ouve, até a história mais ridícula se for contada com convicção.</p>
    <p>Você tem -5 para sentir motivação ou outro tipo de ação para detectar mentiras e -2 para testes em que outros podem se beneficiar de você.</p>
  </div> 
</div>