<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Trauma" data-vantagem="trauma" data-quantidade="trauma">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel aparece">
    <span>
     Trauma
    </span>
  </label>
  <div class="del-pop">

    <p>-5 ou -10 pontos</p>
    <p>Você passou por uma situação extremamente traumática e isso afeta a sua vida mesmo um longo tempo depois.</p>
    <p>Quando exposto à uma situação similar ao seu trauma, você deve fazer um teste de sanidade com ND normal, mas recebe -5 de penalidade. Você, recebe as penalidades de um medo um nível superior após o resultado do teste, ficando inclusive amedrontado caso tenha sucesso.</p>
    <p>Com -10 pontos você sofre os efeitos acima e perde 1 de sanidade.</p>
    <p>Com -5 pontos você adquire dessensibilizado no que causou o seu trauma. Você perde no total 2 de sanidade, do trauma e da dessensibilização.</p>
  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="2" id="trauma" value="1" class="escondido">
  </div>
</div>
