<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-desvantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Vício" data-desvantagem="vicio" data-quantidade="vicio">
    <input type="checkbox" autocomplete="off" checked class="imput-invisivel aparece">
    <span>
     Vício
    </span>
  </label>
  <div class="del-pop">

  </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="2" id="vicio" value="1" class="escondido">
  </div>
</div>
