<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-desvantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Vício" data-desvantagem="vicio" data-quantidade="vicio">
    <input type="checkbox" checked class="imput-invisivel aparece">
    <span>
     Vício
    </span>
  </label>
  <div class="del-pop">

    <p>Variável</p>
    <p>Você é viciado em uma substância devendo consumi-la diariamente ou sofrer abstinência. Todo vício causa abstinência psicológica além da física (caso tenha), causando grande angústia e ansiedade, reduzindo os valores de carisma, intuição e lógica em 2.</p>
    <h4 class="cor_vermelho">Custo (por dose):</h4>
    <p>Barato (até 10pc a dose) 0 pontos</p>
    <p>Caro (até 50pc médio a dose) -5 pontos</p>
    <p>Muito caro (mais de 50pc a dose) -10 pontos</p>
    <h4 class="cor_vermelho">Efeitos:</h4>
    <p>Incapacitante ou alucinógeno: -5 pontos</p>
    <p>Causa dependência física: -5 pontos</p>
  </div> 
  <div class="distancia_input escondido_des" id="vicio">
    <input type="number" name="quantity" min="1" max="3" id="vicio1" value="1">
    <input type="number" name="quantity" min="0" max="2" id="vicio2" value="0">
  </div>
</div>
