<div class="descricao-popover row">
  <label class="btn btn-default  col-xs-4 col-xs-offset-4 botao-riquezas escolha-vantagem nivel" data-toggle="popover" data-placement="right" data-container="body" title="Voto" data-vantagem="voto" data-quantidade="voto">
    <input type="checkbox" checked class="imput-invisivel aparece">
    <span>
     Voto
    </span>
  </label>
  <div class="del-pop">

    <p>5 ou -10 pontos</p>
    <p>Você fez um voto de sempre fazer ou não fazer algo. Seja qual for o voto, você o leva a sério. Caso quebre o voto é necessário pagar uma penitência para restabelece-lo, ou pagar o custo da desvantagem.</p>
    <p>O número de pontos dados depende do quanto o voto atrapalha. Os exemplos seguintes são apenas exemplos, e pode-se fazer qualquer tipo de voto. O voto deve ser significativo para o personagem, um voto de castidade para uma raça que não tem sexo não importa.</p>
    <h4>Voto significativo:</h4>
    <p>
      -5 pontos 
      <br/>Nunca usar lâminas, nunca dormir sob um teto, nunca possuir mais do que pode carregar, nunca matar um animal.
    </p>
    <h4>Voto Colossal:</h4> 
    <p>
    -10 pontos 
    <br/>Nunca recusar pedidos de ajuda, nunca ferir uma pessoa, matar todos contra quem lutar, nunca fazer qualquer tipo de mal (ou bem), nunca falar.</p>
    </div> 
  <div class="distancia_input">
    <input type="number" name="quantity" min="1" max="2" id="voto" value="1" class="escondido">
  </div>
</div>
