<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Adolescente" data-riqueza="adolescente"> 
    <input type="radio" name="options" id="adolescente" class="imput-invisivel"> 
    <span>
      Adolescente 
    </span>
  </label>
  <div class="del-pop">
    <p>-50 pontos</p>
    <p>Com os terrores da guerra constante, a pressão da rápida industrialização e incontáveis outros fatores, pessoas podem ser pressionadas a uma carreira de aventura e guerra mesmo durante sua juventude.</p>
    <p>Para raças humanoides e arachas, essa faixa de idade é entre 15 e 18 anos. Para Kreks é o seu segundo ano de vida e para Dyn-o-Brens é de sua fabricação até atingir 18 anos.</p>
    <h4 class="singularidades">
      Mudanças
    </h4>
    <p>Força -2, Intuição -1.</p>
    <p>Ao invés de receber 3 pontos para gastar em habilidades para todas as habilidades, receba 1 em cada.</p>
    <p>Sua maior habilidade inicial deve ser 1 ponto abaixo do normal para um personagem com o seu valor de PP.</p>
  </div>
</div>  