<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Adulto" data-idade="adulto">
    <input type="radio" name="options" id="adulto" class="imput-invisivel"> 
    <span>
      Adulto 
    </span>
  </label>
  <div class="del-pop">
    <p>25 pontos</p>
    <p>A idade adulta é normalmente um dos pontos altos da vida para raças de vida curta, onde se possui ambos um corpo ainda no pico físico e amplo conhecimento. Para raças de vida longa, esse é apenas o começo de suas vidas.</p>
    <p>Essa faixa de idade não é válida para elfos, elanos, Dyn e anões.</p>
    <p>Para raças humanoides, arachas e Dyn-o-Brens, essa faixa de idade é entre 31 e 40 anos. Para Kreks é entre 10 e 20 anos.</p>
    <h4 class="singularidades">
      Mudanças
    </h4>
    <p>Ao invés de receber 3 pontos para gastar em habilidades para todas as habilidades, receba 5 em cada.</p>
  </div>
</div>