<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Ancião" data-riqueza="4">
    <input type="radio" name="options" id="anciao" class="imput-invisivel"> 
    <span>
      Ancião 
    </span>
  </label>
  <div class="del-pop">
    <p>-15 pontos</p>
    <p>Poucos conseguem chegar a essa idade, e menos ainda conseguem se manter ativos de qualquer forma nela. Anciões são muito respeitados pelas raças de vida curta.</p>
    <p>Para raças humanoides e arachas, essa faixa de idade é após os 80 anos. Para Kreks é após 30 anos.</p>
  </div>
</div>