<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Idoso" data-idade="idoso">
    <input type="radio" name="options" id="idoso" class="imput-invisivel"> 
    <span>
      Idoso 
    </span>
  </label>
  <div class="del-pop">
    <p>10 pontos</p>
    <p>Você é incrivelmente alto para um membro de sua raça. Sua altura é 25% maior que a média para sua raça pelo menos. Você aumenta sua força racial em 2.</p>
    <p>Você ganha desvantagem em testes de disfarce caso tente empessoar a sua própria raça, e não uma mais alta. Você também acabará tendo muitos problemas de saúde ao envelhecer, aumentando em 1 as penalidades de força, agilidade, fôlego e saúde dadas por idades além de adulto.</p>
    <h4 class="singularidades">
      Mudanças
    </h4>
    <p>Força -3, Agilidade -3, Saúde -3, Fadiga -6, velocidade -20%. Distribua -3 pontos nos dons de Carisma, Intuição, Lógica e Sanidade.</p>
    <p>Ao invés de receber 3 pontos para gastar em habilidades para todas as habilidades, receba 9 em cada.</p>
    <p>Você pode escolher uma habilidade para ter um máximo inicial um ponto maior.</p>
  </div>
</div>