<div class="descricao-popover">
  <label class="btn btn-default active col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Jovem adulto" data-riqueza="1">
    <input type="radio" name="options" id="jovem_adulto" class="imput-invisivel"> 
    <span>
      Jovem adulto 
    </span>
  </label>
  <div class="del-pop">
    <p>0 pontos</p>
    <p>Jovens adultos são a idade padrão para personagens em Steamrealms.</p>
    <p>Para raças humanoides, arachas e Dyn-o-Brens, essa faixa de idade é entre 19 e 30 anos. Para Kreks é entre 3 e 10 anos.</p>
  </div>
</div>