<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Meia idade" data-idade="meia_idade">
    <input type="radio" name="options" id="meia_idade" class="imput-invisivel"> 
    <span>
      Meia idade 
    </span>
  </label>
  <div class="del-pop">
    <p>25 pontos</p>
    <p>Meia idade é onde o corpo das raças de vida curta começa a se deteriorar, mas ainda mantém juventude e vigor suficiente para manter estilos de vida arriscados e intensos.</p>
    <p>Essa faixa de idade não é válida para elfos, elanos, Dyn e anões.</p>
    <p>Para raças humanoides e arachas, essa faixa de idade é entre 40 e 55 anos. Para Kreks é entre 20 e 28 anos.</p>
    <h4 class="singularidades">
      Mudanças
    </h4>
    <p>Força -1, Agilidade -1, Saúde -2, Fadiga -2. Escolha uma entre Carisma, Intuição e Lógica para receber -1.</p>
    <p>Ao invés de receber 3 pontos para gastar em habilidades para todas as habilidades, receba 7 em cada.</p>
  </div>
</div>