<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Oitavo século" data-idade="oitavo_seculo">
    <input type="radio" name="options" id="oitavo_seculo" class="imput-invisivel"> 
    <span>
      Oitavo século 
    </span>
  </label>
  <div class="del-pop">
    <p>185 pontos</p>
    <p>A idade em que finalmente as raças de vida longa começam a contemplar a sua própria mortalidade, esses séculos são marcados pela deterioração de seus corpos e mentes, não muito diferentes de idosos de raças de vida curta.</p>
    <p>Essa idade não é válida para Dyns.</p>
    <h4 class="singularidade"> Mudança </h4>
    <p>Força -3, Agilidade -3, Saúde -3, Fadiga -6, velocidade -20%. Distribua -3 pontos nos dons de Carisma, Intuição, Lógica e Sanidade.</p>
    <p>Ao invés de receber 3 pontos para gastar em habilidades para todas as habilidades, 19 para o oitavo</p>
  </div>
</div>