<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Primeiro século" data-idade="primeiro_seculo">
    <input type="radio" name="options" id="primeiro_seculo" class="imput-invisivel"> 
    <span>
      Primeiro século 
    </span>
  </label>
  <div class="del-pop">
    <p>25 pontos</p>
    <p>Para elfos, é nessa época que atingem o seu local social que manterão até a morte de seu primeiro carvalho, acumulando conhecimento e amizades.</p>
    <p>Para outras raças de vida longa (elanos, anões e Dyns), o seu primeiro século é o de maior aprendizado e experimentação.</p>
    <p>Essa faixa de idade é entre 31 e 100 anos.</p>
    <h4 class="singularidades">
      Mudanças
    </h4>
    <p>Ao invés de receber 3 pontos para gastar em habilidades para todas as habilidades, receba 5 em cada.</p>
  </div>
</div>