<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Quarto século" data-idade="quarto_seculo">
    <input type="radio" name="options" id="quarto_seculo" class="imput-invisivel"> 
    <span>
      Quarto século 
    </span>
  </label>
  <div class="del-pop">
    <p>110 pontos</p>
    <p>Para elfos, esses séculos tendem a serem tumultuados, já que devem mudar completamente suas vidas após a morte de seu primeiro carvalho, incluindo assumir outro nome.</p>
    <p>Para outras raças de vida longa (elanos, anões e Dyns), eles tendem a ser os picos de proeza e eficiência em tudo o que fazem, exceto para funções que necessitam de mais conhecimento do que saúde física.</p>
    <h4 class="singularidade"> Mudança </h4>
    <p>Ao invés de receber 3 pontos para gastar em habilidades para todas as habilidades, receba 11 para o 4º.</p>
    <p>Você pode escolher uma habilidade para ter um máximo inicial um ponto maior.</p>
  </div>
</div>