<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Quinto século" data-idade="quinto_seculo">
    <input type="radio" name="options" id="quinto_seculo" class="imput-invisivel"> 
    <span>
      Quinto século 
    </span>
  </label>
  <div class="del-pop">
    <p>120 ou 145 pontos</p>
    <p>O começo do fim para as raças de vida longa, elas passam a sentir os primeiros efeitos da velhice em seus corpos.</p>
    <p>Essa idade não é válida para Dyns</p>
    <h4 class="singularidade"> Mudança </h4>
    <p>Força -1, Agilidade -1, Saúde -2, Fadiga -2. Escolha uma entre Carisma, Intuição e Lógica para receber -1.</p>
    <p>Ao invés de receber 3 pontos para gastar em habilidades para todas as habilidades, receba 13 para o quinto século (100PP)</p>
    <p>Você pode escolher duas habilidades para ter um máximo inicial um ponto maior.</p>
  </div>
</div>