<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Quinto e sexto século" data-riqueza="6">
    <input type="radio" name="options" id="quinto_e_sexto_seculo" class="imput-invisivel"> 
    <span>
      Quinto e sexto século 
    </span>
  </label>
  <div class="del-pop">
    <p>120 ou 145 pontos</p>
    <p>O começo do fim para as raças de vida longa, elas passam a sentir os primeiros efeitos da velhice em seus corpos.</p>
    <p>Essa idade não é válida para Dyns</p>
  </div>
</div>