<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Séculos incontáveis" data-idade="seculos_incontaveis">
    <input type="radio" name="options" id="seculos_incontaveis" class="imput-invisivel"> 
    <span>
      Séculos incontáveis 
    </span>
  </label>
  <div class="del-pop">
    <p>145+35/século além do 5º</p>
    <p>Para Dyns e outros seres imortais, séculos voam como folhas no outono, sempre deixando sua marca em cicatrizes e conhecimentos.</p>
    <h4 class="singularidades">
      Mudanças
    </h4>
    <p>Ao invés de receber 3 pontos para gastar em habilidades para todas as habilidades, receba 13 para o quinto século e +2 para cada século além dele.</p>
    <p>Você pode escolher duas habilidades para ter um máximo inicial um ponto maior.</p>
    <p>Para cada século além do 5º, você pode escolher mais uma habilidade para ter um ponto maior. Você também pode escolher ao invés de ter 3 habilidades com o máximo inicial com um ponto a mais, ter 1 habilidade com o máximo 2 pontos a mais.</p>
    <p>Também é possível fazer o mesmo com 3 habilidades com o máximo 2 pontos a mais e assim sucessivamente.</p>
  </div>
</div>