<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Segundo a quarto século" data-riqueza="5">
    <input type="radio" name="options" id="segundo_a_quarto_seculo" class="imput-invisivel"> 
    <span>
      Segundo a quarto século 
    </span>
  </label>
  <div class="del-pop">
    <p>60, 85 ou 110 pontos</p>
    <p>Para elfos, esses séculos tendem a serem tumultuados, já que devem mudar completamente suas vidas após a morte de seu primeiro carvalho, incluindo assumir outro nome.</p>
    <p>Para outras raças de vida longa (elanos, anões e Dyns), eles tendem a ser os picos de proeza e eficiência em tudo o que fazem, exceto para funções que necessitam de mais conhecimento do que saúde física.</p>
  </div>
</div>