<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Sétimo século" data-riqueza="setimo_seculo">
    <input type="radio" name="options" id="setimo_seculo" class="imput-invisivel"> 
    <span>
      Sétimo século 
    </span>
  </label>
  <div class="del-pop">
    <p>160 e 185 pontos</p>
    <p>A idade em que finalmente as raças de vida longa começam a contemplar a sua própria mortalidade, esses séculos são marcados pela deterioração de seus corpos e mentes, não muito diferentes de idosos de raças de vida curta.</p>
    <p>Essa idade não é válida para Dyns.</p>
    <h4 class="singularidade"> Mudança </h4>

  </div>
</div>