<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Últimos séculos" data-idade="ultimos_seculos">
    <input type="radio" name="options" id="ultimos_seculos" class="imput-invisivel"> 
    <span>
      Últimos séculos 
    </span>
  </label>
  <div class="del-pop">
    <p>180 pontos</p>
    <p>O triste fim de uma longa vida, os poucos seres de vida longa que chegam a essa idade lentamente definham ao longo de alguns séculos até que finalmente morrem, mas não sem antes passar seus conhecimentos quase intermináveis.</p>
    <p>Essa idade não é válida para Dyns.</p>
    <h4 class="singularidades">
      Mudanças
    </h4>
    <p>Força -6, Agilidade -6, Saúde -6, Fadiga -8, velocidade -40%. Distribua -6 pontos nos dons de Carisma, Intuição, Lógica e Sanidade.</p>
    <p>Ao invés de receber 3 pontos para gastar em habilidades para todas as habilidades, receba 21 para os últimos séculos.</p>
    <p>Você pode escolher três habilidades para ter um máximo inicial um ponto maior e duas para ter dois pontos.</p>
  </div>
</div>