<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-idade" data-toggle="popover" data-placement="right" data-container="body" title="Últimos séculos" data-idade="ultimos_seculos">
    <input type="radio" name="options" id="ultimos_seculos" class="imput-invisivel"> 
    <span>
      Últimos séculos 
    </span>
  </label>
  <div class="del-pop">
    <p>180 pontos</p>
    <p>O triste fim de uma longa vida, os poucos seres de vida longa que chegam a essa idade lentamente definham ao longo de alguns séculos até que finalmente morrem, mas não sem antes passar seus conhecimentos quase intermináveis.</p>
    <p>Essa idade não é válida para Dyns.</p>
  </div>
</div>