<div class="tab-pane" id="habilidades_de_combate">
  <div>
    <!-- habilidade habilidades_de_combate -->
    {% include2 "habilidades/habilidades_de_combate/habilidades_de_combate.html" %}
  </div>
  <div class="tab-content">
  <!-- habilidade arma_corpo-a-corpo -->
  {% include2 "habilidades/habilidades_de_combate/arma_corpo-a-corpo.html" %}
  <!-- habilidade armas_a_distancia -->
  {% include2 "habilidades/habilidades_de_combate/armas_a_distancia.html" %}
  <!-- habilidade golpes_naturais -->
  {% include2 "habilidades/habilidades_de_combate/golpes_naturais.html" %}
  </div>
</div>