<div class="tab-pane row" id="habilidades_interpessoais">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Habilidades interpessoais (intuição, carisma ou força)</h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade adestrar -->
    {% include2 "habilidades/habilidades_interpessoais/adestrar.html" %}
    <!-- habilidade blefar -->
    {% include2 "habilidades/habilidades_interpessoais/blefar.html" %}
    <!-- habilidade diplomacia -->
    {% include2 "habilidades/habilidades_interpessoais/diplomacia.html" %}
    <!-- habilidade disfarce -->
    {% include2 "habilidades/habilidades_interpessoais/disfarce.html" %}
  </div>
  <div class="col-xs-6">
    <!-- habilidade intimidar -->
    {% include2 "habilidades/habilidades_interpessoais/intimidar.html" %}
    <!-- habilidade lideranca -->
    {% include2 "habilidades/habilidades_interpessoais/lideranca.html" %}
    <!-- habilidade performance -->
    {% include2 "habilidades/habilidades_interpessoais/performance.html" %}
    <!-- habilidade sentir_motivacao -->
    {% include2 "habilidades/habilidades_interpessoais/sentir_motivacao.html" %}
  </div>
</div>