<div class="tab-pane" id="habilidades_magicas">
  <div>
  <!-- habilidade habilidades_magicas -->
  {% include2 "habilidades/habilidades_magicas/habilidades_magicas.html" %}
  </div>
  <div class="tab-content">
  <!-- habilidade potentia -->
  {% include2 "habilidades/habilidades_magicas/potentia.html" %}
  <!-- habilidade misticismo -->
  {% include2 "habilidades/habilidades_magicas/misticismo.html" %}
  <!-- habilidade mentalismo -->
  {% include2 "habilidades/habilidades_magicas/mentalismo.html" %}
  <!-- habilidade maleficorum -->
  {% include2 "habilidades/habilidades_magicas/maleficorum.html" %}
  </div>
</div>