<div class="tab-pane row" id="habilidades_mentais">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Habilidades mentais (carisma, lógica ou intuição)</h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade aprender_lingua -->
    {% include2 "habilidades/habilidades_mentais/aprender_lingua.html" %}
    <!-- habilidade banimento -->
    {% include2 "habilidades/habilidades_mentais/banimento.html" %}
    <!-- habilidade concentracao -->
    {% include2 "habilidades/habilidades_mentais/concentracao.html" %}
    <!-- habilidade contrabandear -->
    {% include2 "habilidades/habilidades_mentais/contrabandear.html" %}
    <!-- habilidade forca_de_vontade -->
    {% include2 "habilidades/habilidades_mentais/forca_de_vontade.html" %}
  </div>
  <div class="col-xs-6">
    <!-- habilidade mecanico -->
    {% include2 "habilidades/habilidades_mentais/mecanico.html" %}
    <!-- habilidade navegar -->
    {% include2 "habilidades/habilidades_mentais/navegar.html" %}
    <!-- habilidade operar_maquina -->
    {% include2 "habilidades/habilidades_mentais/operar_maquina.html" %}
    <!-- habilidade sobrevivencia -->
    {% include2 "habilidades/habilidades_mentais/sobrevivencia.html" %}
    <!-- habilidade uso_de_explosivos -->
    {% include2 "habilidades/habilidades_mentais/uso_de_explosivos.html" %}
  </div>
</div>