<div class="col-xs-4">
  <ul class="nav nav-tabs tabs-left">
    <li class="active">
      <a href="#habilidades_fisicas" data-toggle="tab" data-raca="habilidades_fisicas" class="escolha-habilidade">Habilidades físicas</a>
    </li>
    <li>
      <a href="#habilidades_de_pilotagem" data-toggle="tab" data-raca="habilidades_de_pilotagem" class="escolha-habilidade">Habilidades de pilotagem</a>
    </li>
    <li>
      <a href="#habilidades_de_precisao" data-toggle="tab" data-raca="habilidades_de_precisao" class="escolha-habilidade">Habilidades de precisão</a>
    </li>
    <li >
      <a href="#habilidades_perceptivas" data-toggle="tab" data-raca="habilidades_perceptivas" class="escolha-habilidade">Habilidades perceptivas</a>
    </li>
    <li>
      <a href="#habilidades_mentais" data-toggle="tab" data-raca="habilidades_mentais" class="escolha-habilidade">Habilidades mentais</a>
    </li>
    <li>
      <a href="#habilidades_de_conhecimento_e_fabricacao" data-toggle="tab" data-raca="habilidades_de_conhecimento_e_fabricacao" class="escolha-habilidade">Habilidades de conhecimento e fabricação</a>
    </li>
    <li>
      <a href="#habilidades_interpessoais" data-toggle="tab" data-raca="habilidades_interpessoais" class="escolha-habilidade">Habilidades interpessoais</a>
    </li>
    <li>
      <a href="#habilidades_de_combate" data-toggle="tab" data-raca="habilidades_de_combate" class="escolha-habilidade">Habilidades de combate</a>
    </li>
    <li>
      <a href="#habilidades_magicas" data-toggle="tab" data-raca="habilidades_magicas" class="escolha-habilidade">Habilidades mágicas</a>
    </li>
    <li>
      <a href="#habilidades_divinas" data-toggle="tab" data-raca="habilidades_divinas" class="escolha-habilidade">Habilidades divinas</a>
    </li>
  </ul>
</div>