<div class="tab-pane" id="habilidades_perceptivas">
  <!-- habilidade audicao -->
  {% include2 "habilidades/habilidades_perceptivas/audicao.html" %}
  <!-- habilidade farejar -->
  {% include2 "habilidades/habilidades_perceptivas/farejar.html" %}
  <!-- habilidade investigar -->
  {% include2 "habilidades/habilidades_perceptivas/investigar.html" %}
  <!-- habilidade rastrear -->
  {% include2 "habilidades/habilidades_perceptivas/rastrear.html" %}
  <!-- habilidade visao -->
  {% include2 "habilidades/habilidades_perceptivas/visao.html" %}
</div>