<div class="tab-pane" id="habilidades_mentais">
  <!-- habilidade aprender_lingua -->
  {% include2 "habilidades/habilidades_mentais/aprender_lingua.html" %}
  <!-- habilidade banimento -->
  {% include2 "habilidades/habilidades_mentais/banimento.html" %}
  <!-- habilidade concentracao -->
  {% include2 "habilidades/habilidades_mentais/concentracao.html" %}
  <!-- habilidade contrabandear -->
  {% include2 "habilidades/habilidades_mentais/contrabandear.html" %}
  <!-- habilidade forca_de_vontade -->
  {% include2 "habilidades/habilidades_mentais/forca_de_vontade.html" %}
  <!-- habilidade mecanico -->
  {% include2 "habilidades/habilidades_mentais/mecanico.html" %}
  <!-- habilidade navegar -->
  {% include2 "habilidades/habilidades_mentais/navegar.html" %}
  <!-- habilidade operar_maquina -->
  {% include2 "habilidades/habilidades_mentais/operar_maquina.html" %}
  <!-- habilidade sobrevivencia -->
  {% include2 "habilidades/habilidades_mentais/sobrevivencia.html" %}
  <!-- habilidade uso_de_explosivos -->
  {% include2 "habilidades/habilidades_mentais/uso_de_explosivos.html" %}
</div>