<div class="tab-pane row" id="habilidades_divinas">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Habilidades divinas (intuição)</h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade exorcismo -->
    {% include2 "habilidades/habilidades_divinas/exorcismo.html" %}
    <!-- habilidade invocacao -->
    {% include2 "habilidades/habilidades_divinas/invocacao.html" %}
    <!-- habilidade milagre -->
    {% include2 "habilidades/habilidades_divinas/milagre.html" %}
  </div>
</div>