<div class="tab-pane row" id="habilidades_de_pilotagem">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho">Habilidades de pilotagem (Agilidade ou intuição)</h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade artilheiro -->
    {% include2 "habilidades/habilidades_de_pilotagem/artilheiro.html" %}
    <!-- habilidade combate_corporal -->
    {% include2 "habilidades/habilidades_de_pilotagem/combate_corporal.html" %}
    <!-- habilidade pilotar -->
    {% include2 "habilidades/habilidades_de_pilotagem/pilotar.html" %}
  </div>
</div>