<div class="tab-pane" id="habilidades_de_conhecimento_e_fabricacao">
  <div clas="row">
    <!-- habilidade habilidades_de_conhecimento_e_fabricacao -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/habilidades_de_conhecimento_e_fabricacao.html" %}
  </div>
  <div class="tab-content">
    <!-- habilidade conhecimento -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/conhecimento.html" %}
    <!-- habilidade fabricar -->
    {% include2 "habilidades/habilidades_de_conhecimento_e_fabricacao/fabricar.html" %}
  </div>
</div>