<div class="tab-pane active row" id="habilidades_fisicas">
  <div class="col-xs-12 text-center">
    <h3 class="cor_vermelho"> Habilidades físicas (Força ou agilidade) </h3>
  </div>
  <div class="col-xs-6">
    <!-- habilidade acrobacia -->
    {% include2 "habilidades/habilidades_fisicas/acrobacia.html" %}
    <!-- habilidade atletismo -->
    {% include2 "habilidades/habilidades_fisicas/atletismo.html" %}
    <!-- habilidade cavalgar -->
    {% include2 "habilidades/habilidades_fisicas/cavalgar.html" %}
  </div>
</div>