<div class="tab-pane row" id="habilidades_de_precisao">
  <div class="col-xs-6">
    <!-- habilidade abrir_fechadura -->
    {% include2 "habilidades/habilidades_de_precisao/abrir_fechadura.html" %}
    <!-- habilidade escapismo -->
    {% include2 "habilidades/habilidades_de_precisao/escapismo.html" %}
    <!-- habilidade pilotar -->
    {% include2 "habilidades/habilidades_de_precisao/pilotar.html" %}
  </div>
  <div class="col-xs-6">
    <!-- habilidade prestidigitacao -->
    {% include2 "habilidades/habilidades_de_precisao/prestidigitacao.html" %}
    <!-- habilidade surdina -->
    {% include2 "habilidades/habilidades_de_precisao/surdina.html" %}
    <!-- habilidade usar_armadilhas -->
    {% include2 "habilidades/habilidades_de_precisao/usar_armadilhas.html" %}
  </div>
</div>