<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Adestrar" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Adestrar
    </h4>
    <span> Nv: </span>
    <span id="adestrar"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_adestrar">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="adestrar" data-ponto="intuicao" data-ph="intuicao_adestrar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="adestrar" data-ponto="intuicao" data-ph="intuicao_adestrar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_adestrar">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="adestrar" data-ponto="carisma" data-ph="carisma_adestrar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="adestrar" data-ponto="carisma" data-ph="carisma_adestrar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>Adestrar é a arte de treinar um animal (ou uma montaria) para realizar tarefas ou truques. Um adestrador é proficiente com um tipo restrito de animais apenas, como caninos, felinos, ursos, equinos, grifos, hipogrifos.</p>
    <p>A penalidade de generalização é de -1 para um animal diferente. -2 adicional para cada diferença marcante em dieta ou taxonomia que possuir (herbívoro->carnívoro, mamífero -> irawoide).</p>
    <p>Cada truque leva de duas semanas a um mês para ser treinado, dependendo da habilidade do treinador.</p>
  </div>
</div>