<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Adestrar">
    <h3 class="cor_vermelho">
        Adestrar (Intuição ou carisma)
    </h3>
  </div>
  <div>
    <span> intuição: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuicao_adestrar" class="escolha_habilidade espaco_input" data-habilidade="adestrar">
    <span> carisma: </span>
    <input type="number" name="quantity" min="0" max="2" id="carisma_adestrar" class="escolha_habilidade espaco_input" data-habilidade="adestrar">
  </div>
  <div class="del-pop">
  </div>
</div>