<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Blefar">
    <h4 class="cor_vermelho">
        Blefar
    </h4>
    <span> Nv: </span>
    <span id="blefar"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-4 text-center row">
      <div class="col-xs-12">
        <span>C:<span id="carisma_blefar">0</span></span>
      </div>
      <div class="col-xs-12">
        <button class="escolha_habilidade" type="submit" data-habilidade="blefar" data-ponto="carisma" data-ph="carisma_blefar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-12">
        <button class="escolha_habilidade" type="submit" data-habilidade="blefar" data-ponto="carisma" data-ph="carisma_blefar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>