<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Diplomacia">
    <h4 class="cor_vermelho">
        Diplomacia
    </h4>
    <span> Nv: </span>
    <span id="diplomacia"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <span> carisma: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="carisma_diplomacia" class="escolha_habilidade espaco_input" data-habilidade="diplomacia">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>