<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Disfarce">
    <h3 class="cor_vermelho">
        Disfarce (Intuição ou carisma)
    </h3>
  </div>
  <div>
    <span> agilidade: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuição_disfarce" class="escolha_habilidade espaco_input" data-habilidade="disfarce">
    <span> intuição: </span>
    <input type="number" name="quantity" min="0" max="2" id="carisma_disfarce" class="escolha_habilidade espaco_input" data-habilidade="disfarce">
  </div>
  <div class="del-pop">
  </div>
</div>