<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Disfarce">
    <h4 class="cor_vermelho">
        Disfarce
    </h4>
    <span> Nv: </span>
    <span id="disfarce"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuição_disfarce">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="disfarce" data-ponto="intuição" data-ph="intuição_disfarce" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="disfarce" data-ponto="intuição" data-ph="intuição_disfarce" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_disfarce">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="disfarce" data-ponto="carisma" data-ph="carisma_disfarce" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="disfarce" data-ponto="carisma" data-ph="carisma_disfarce" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>