<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Intimidar">
    <h4 class="cor_vermelho">
        Intimidar
    </h4>
    <span> Nv: </span>
    <span id="intimidar"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <span> carisma: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="carisma_intimidar" class="escolha_habilidade espaco_input" data-habilidade="intimidar">
    </div>
    <div class="col-xs-4">
      <span> força: </span>
      <input type="number" name="quantity" min="0" max="55" value="0" id="força_intimidar" class="escolha_habilidade espaco_input" data-habilidade="intimidar">
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>