<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Intimidar" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Intimidar
    </h4>
    <span> Nv: </span>
    <span id="intimidar"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_intimidar">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="intimidar" data-ponto="carisma" data-ph="carisma_intimidar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="intimidar" data-ponto="carisma" data-ph="carisma_intimidar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>F:<span id="força_intimidar">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="intimidar" data-ponto="força" data-ph="força_intimidar" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">F</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="intimidar" data-ponto="força" data-ph="força_intimidar" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">F</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
  </div>
</div>