<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Liderança" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Liderança
    </h4>
    <span> Nv: </span>
    <span id="lideranca"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_lideranca">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="lideranca" data-ponto="carisma" data-ph="carisma_lideranca" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="lideranca" data-ponto="carisma" data-ph="carisma_lideranca" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>O personagem faz um TO pela Força de Vontade do alvo. Caso obtenha sucesso, o alvo passa a cooperar temporariamente, ou foge, conforme aplicável.</p>
    <p>O líder os estimula a realizarem uma tarefa nas melhores de suas capacidades. Um personagem que tenha sucedido em seu teste contra um efeito de medo pode usar essa habilidade para dar um bônus igual a metade de seu valor para seus aliados resistirem o mesmo teste.</p>
    <p>Também é possível ganhar seguidores utilizando essa perícia em um local povoado.</p>
  </div>
</div>