<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Performance" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Performance
    </h4>
    <span> Nv: </span>
    <span id="performance"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_performance">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="performance" data-ponto="carisma" data-ph="carisma_performance" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="performance" data-ponto="carisma" data-ph="carisma_performance" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A habilidade do personagem em um tipo de dança, instrumento ou canto.</p>
  </div>
</div>