<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Sentir motivação">
    <h3 class="cor_vermelho">
        Sentir motivação (Intuição ou carisma)
    </h3>
  </div>
  <div>
    <span> intuição: </span>
    <input type="number" name="quantity" min="0" max="2" id="intuicao_sentir_motivacao" class="escolha_habilidade espaco_input" data-habilidade="sentir_motivacao">
    <span> carisma: </span>
    <input type="number" name="quantity" min="0" max="2" id="carisma_sentir_motivacao" class="escolha_habilidade espaco_input" data-habilidade="sentir_motivacao">
  </div>
  <div class="del-pop">
  </div>
</div>