<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Sentir motivação" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Sentir motivação
    </h4>
    <span> Nv: </span>
    <span id="sentir_motivacao"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_sentir_motivacao">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="sentir_motivacao" data-ponto="intuicao" data-ph="intuicao_sentir_motivacao" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="sentir_motivacao" data-ponto="intuicao" data-ph="intuicao_sentir_motivacao" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>C:<span id="carisma_sentir_motivacao">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="sentir_motivacao" data-ponto="carisma" data-ph="carisma_sentir_motivacao" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">C</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="sentir_motivacao" data-ponto="carisma" data-ph="carisma_sentir_motivacao" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">C</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A habilidade de perceber intenções de pessoas através de bom senso, experiência e percepção de pequenos movimentos faciais.</p>
    <p>Uma raça diferente, mas de mesma categoria dá ao personagem uma penalidade de -1 no teste. Uma raça de outra categoria dá -2 e uma raça completamente alienígena dá -3.</p>
  </div>
</div>