<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-aparencia tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Atraente" data-aparencia="atraente">
    <input type="radio" name="options" id="atraente" class="imput-invisivel"> 
    <span>
      Atraente 
    </span>
  </label>
  <div class="del-pop">
    <p>5 pontos</p>
    <p>Você não é nenhum modelo de beleza, mas certamente é bonito. +1 para carisma.</p>
  </div>
</div>