<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-aparencia" data-toggle="popover" data-placement="right" data-container="body" title="Bonito" data-aparencia="bonito">
    <input type="radio" name="options" id="bonito" class="imput-invisivel"> 
    <span>
      Bonito 
    </span>
  </label>
  <div class="del-pop">
    <p>10 pontos</p>
    <p>Você é um modelo de beleza, e poderia facilmente entrar em um concurso disso. Você tem +1 para carisma e toda habilidade interpessoal exceto intimidação.</p>
    <p>Há um lado negativo em ser bonito: você chama muita atenção daqueles que se atraem por você, para bem ou mal. Pessoas mal-educadas, bêbados, traficantes de escravos e outros incômodos também podem se tornar um problema.</p>
  </div>
</div>