<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-aparencia tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Esbelto" data-aparencia="esbelto">
    <input type="radio" name="options" id="esbelto" class="imput-invisivel"> 
    <span>
      Esbelto 
    </span>
  </label>
  <div class="del-pop">
    <p>15 pontos</p>
    <p>Você é um modelo de beleza para a sua raça, e poderia facilmente viver disso. Você recebe +2 em carisma e em habilidades interpessoais, exceto intimidação.</p>
    <p>Há uma penalidade em ser tão maravilhosamente maravilhoso, você chama muita atenção de todos, para bem ou mal. Pessoas mal-educadas ou invejosas, bêbados, artistas que querem um modelo para fazer um nu, traficantes de escravos e outros incômodos também podem se tornar um problema.</p>
  </div>
</div>