<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-aparencia" data-toggle="popover" data-placement="right" data-container="body" title="Gigante" data-aparencia="4">
    <input type="radio" name="options" id="gigante" class="imput-invisivel"> 
    <span>
      Gigante 
    </span>
  </label>
  <div class="del-pop">
    <p>10 pontos</p>
    <p>Você é incrivelmente alto para um membro de sua raça. Sua altura é 25% maior que a média para sua raça pelo menos. Você aumenta sua força racial em 2.</p>
    <p>Você ganha desvantagem em testes de disfarce caso tente empessoar a sua própria raça, e não uma mais alta. Você também acabará tendo muitos problemas de saúde ao envelhecer, aumentando em 1 as penalidades de força, agilidade, fôlego e saúde dadas por idades além de adulto.</p>
  </div>
</div>