<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-aparencia" data-toggle="popover" data-placement="right" data-container="body" title="Gordo" data-aparencia="gordo">
    <input type="radio" name="options" id="gordo" class="imput-invisivel"> 
    <span>
      Gordo 
    </span>
  </label>
  <div class="del-pop">
    <p>-5 pontos</p>
    <p>Você tem aproximadamente 50% a mais do que o peso normal para sua força. Você tem -1 de penalidade em qualquer teste para se manter uma atividade física de longa duração.</p>
  </div>
</div>