<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-aparencia" data-toggle="popover" data-placement="right" data-container="body" title="Horrendo" data-aparencia="horrendo">
    <input type="radio" name="options" id="horrendo" class="imput-invisivel"> 
    <span>
      Horrendo 
    </span>
  </label>
  <div class="del-pop">
    <p>-20 pontos</p>
    <p>Você é simplesmente horroroso, e memórias de crianças chorando logo quando o veem são vívidas. Você tem uma deformidade grande ou ferimento mutilante no rosto e no corpo. Você recebe -2 para carisma e diplomacia, e +2 para intimidar.</p>
  </div>
</div>