<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 active col-xs-offset-1 botao-riquezas escolha-aparencia" data-toggle="popover" data-placement="right" data-container="body" title="Mediano" data-aparencia="mediano">
    <input type="radio" name="options" id="mediano" class="imput-invisivel"> 
    <span>
      Médio
    </span>
  </label>
  <div class="del-pop">
    <p>0 pontos</p>
    <p>Sua aparência não chama atenção para nenhum dos lados, para bem ou mal. A impressão da sua beleza vai ser mais dependente da sua atitude do que de algum dom natural.</p>
  </div>
</div>