<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-aparencia tem_hover" data-toggle="popover" data-placement="right" data-container="body" title="Nanismo" data-aparencia="nanismo">
    <input type="radio" name="options" id="nanismo" class="imput-invisivel"> 
    <span>
      Nanismo 
    </span>
  </label>
  <div class="del-pop">
    <p>-10 pontos</p>
    <p>Você é muito baixo para um membro de sua raça. Sua altura é 25% menor do que a média da sua raça/etnia ou menos. Você diminui sua força racial em 4.</p>
    <p>Você ganha desvantagem em testes de disfarce caso tente empessoar a sua própria raça, e não uma mais alta.</p>
  </div>
</div>