<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-aparencia" data-toggle="popover" data-placement="right" data-container="body" title="Obeso mórbido" data-aparencia="obeso_morbido">
    <input type="radio" name="options" id="obeso_morbido" class="imput-invisivel"> 
    <span>
      Obeso mórbido 
    </span>
  </label>
  <div class="del-pop">
    <p>-10 pontos</p>
    <p>Você tem aproximadamente o dobro do peso normal para sua força. Você ganha -1 de penalidade para testes de disfarce e -3 em qualquer teste para se manter uma atividade física de longa duração, mas ganha +1 de bônus em testes para resistir a ser derrubado.</p>
  </div>
</div>