<div class="descricao-popover">
  <label class="btn btn-default col-xs-10 col-xs-offset-1 botao-riquezas escolha-aparencia" data-toggle="popover" data-placement="right" data-container="body" title="Pouco atraente" data-aparencia="pouco_atraente">
    <input type="radio" name="options" id="pouco_atraente" class="imput-invisivel"> 
    <span>
      Pouco atraente 
    </span>
  </label>
  <div class="del-pop">
    <p>-5 pontos</p>pouco_atraente
    <p>Você não é convencionalmente atraente, mas não há nada de excepcionalmente feio em você. -1 para carisma</p>
  </div>
</div>