<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Invocação" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Invocação
    </h4>
    <span> Nv: </span>
    <span id="invocacao"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_invocacao">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="invocacao" data-ponto="intuicao" data-ph="intuicao_invocacao" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="invocacao" data-ponto="intuicao" data-ph="intuicao_invocacao" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>Um clérigo pode clamar por ajuda à sua divindade, para que essa traga um ser extraversal para auxiliar seu servo no verso Natural.</p>
    <p>A criatura a ser invocada dependerá da divindade e do nível usado de invocação, como indicado na tabela de sua divindade. A criatura permanece enquanto for necessária.</p>
    <ul>
      <li>
        <span class="cor_vermelho">Exorcismo: -0 atual: </span><span id="gen-invocacao-exorcismo" class="penalidade">-0</span>
        <div class="row text-center">
          <div class="col-xs-4">
            <button class="escolha-generalizacao" type="submit" data-habilidade="invocacao" data-generalizacao="invocacao" data-operacao="soma" data-ponto="intuicao">
              <span class="glyphicon glyphicon-plus apaga_texto">A</span>
            </button>
          </div>
          <div class="col-xs-4 text-center">
            <span>I</span>
          </div>
          <div class="col-xs-4 text-center">
            <button class="escolha-generalizacao" type="submit" data-habilidade="invocacao" data-generalizacao="invocacao" data-operacao="subtracao" data-ponto="intuicao">
              <span class="glyphicon glyphicon-minus apaga_texto">A</span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>