<div class="descricao-popover">
  <div data-toggle="popover" data-placement="right" data-container="body" title="Milagre" class="tem_hover_click">
    <h4 class="cor_vermelho">
        Milagre
    </h4>
    <span> Nv: </span>
    <span id="milagre"> 0 </span>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center row">
      <div class="col-xs-4">
        <span>I:<span id="intuicao_milagre">0</span></span>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="milagre" data-ponto="intuicao" data-ph="intuicao_milagre" data-operacao="soma">
          <span class="glyphicon glyphicon-plus apaga_texto">I</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button class="escolha_habilidade" type="submit" data-habilidade="milagre" data-ponto="intuicao" data-ph="intuicao_milagre" data-operacao="subtracao">
          <span class="glyphicon glyphicon-minus apaga_texto">I</span>
        </button>
      </div>
    </div>
  </div>
  <div class="del-pop">
    <p>A habilidade de conjurar magias divinas e de conhecer com precisão as preces. Cada divindade pode realizar milagres que são equivalentes a sub escolas de magia e magias próprias.</p>
    <ul>
      <li>
        <span class="cor_vermelho">Exorcismo: -1 atual: </span><span id="gen-milagre-exorcismo" class="penalidade">-1</span>
        <div class="row text-center">
          <div class="col-xs-4">
            <button class="escolha-generalizacao" type="submit" data-habilidade="milagre" data-generalizacao="exorcismo" data-operacao="soma" data-ponto="intuicao">
              <span class="glyphicon glyphicon-plus apaga_texto">A</span>
            </button>
          </div>
          <div class="col-xs-4 text-center">
            <span>I</span>
          </div>
          <div class="col-xs-4 text-center">
            <button class="escolha-generalizacao" type="submit" data-habilidade="milagre" data-generalizacao="exorcismo" data-operacao="subtracao" data-ponto="intuicao">
              <span class="glyphicon glyphicon-minus apaga_texto">A</span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>