<div class="tab-pane" id="anoes">
  <p>Anões são uma raça pouco numerosa, existindo apenas 25 milhões deles em toda Baluerde, mesmo possuindo países grandes e poderosos.</p>
  <p>Anões são grandes construtores, apesar de não serem muito inovadores. Anões utilizam as mesmas tecnologias que os humanos, e possuem a reputação de construírem as mais resistentes e duráveis armas e máquinas.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>20</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Vertebrado, Humanoide.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>+2 força, -1 agilidade, +1 intuição.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>a velocidade base é 4m</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>padrão.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>média</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Visão hiperespectral</span>
      <div class="del-pop">
        <p>Anões enxergam 4 cores a mais do que humanos, 3 no infravermelho e 1 em ultravioleta. Anões veem o mundo de forma completamente diferente, e possuem nomes para várias ‘cores’ de temperatura diferente, assim como para a ‘cor do sol’.</p>
        <p>Essa capacidade dá a todos os anões que precisem trabalhar com temperaturas uma enorme vantagem, lhes dando um bônus de 2 em qualquer teste que parte essencial dele esteja ligada a observar uma temperatura, como testes de criar itens de metal ou observar um ser vivo em um ambiente frio.</p>
        <p>Também permite que anões se guiem na escuridão, mas nesse caso a visão é pouco detalhada e não os deixam ver as cores como outras raças as entendem.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body">Nenhuma</span>
      <div class="del-pop"></div>
    </li>
  </ul>
</div>