<div class="tab-pane" id="arachas">
  <p>As “Anãs aranha de Arrakan”, como são popularmente descritas, são um povo muito estranho, tanto em forma quanto em mente. Como diz a sua fama, as Arachas vivem nas regiões montanhosas de Arrakan, na fronteira com o grande deserto.</p>
  <p>Elas são exímias arquitetas, mineradoras e escultoras, suas obras de engenharia subterrânea rivalizam e muitas vezes superam as dos anões de Irona.</p>
  <p>Arachas quase sempre vivem suas vidas todas embaixo da terra, saindo apenas para comercializar com outras raças ou fugir da cultura de seu povo. Até mesmo os anões acham estranho o fato da maioria arachas nunca saírem debaixo da terra.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>0</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Irawoide, Aracha.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>+5 agilidade -2 carisma</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>a velocidade base é 7m.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>duas abaixo. Arachas não possuem nada de valor quando fogem de seu povo.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>média.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Aderência</span>
      <div class="del-pop">
        <p>Arachas possuem patas adesivas, que as permitem andar em qualquer superfície como se fosse o chão. Elas também conseguem controlar o quão aderente são suas patas, podendo andar sem aderir ao chão ou grudar terra em seus pés.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Audição</span>
      <div class="del-pop">
        <p>Arachas possuem uma audição apurada, mesmo sem ouvidos. +5 para testes de audição. Elas não ficam ensurdecidas por disparos de armas de fogo, mas ficam surdas quando utilizam roupas.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Centaurídeo</span>
      <div class="del-pop">
        <p>Arachas possuem um par a mais de pernas, que aumenta a sua capacidade de carregar peso. Considere que uma aracha possui 5 a mais de força para propósitos de carga.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Exoesqueleto</span>
      <div class="del-pop">
        <p>Arachas possuem algumas placas finas de quitina cobrindo seu corpo, as dando um pouco de resistência natural. A armadura natural tem RD 6/2/2. Essa armadura não pode anular o dano.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Flexível</span>
      <div class="del-pop">
        <p>Uma aracha pode contorcer seu corpo de tal forma que pode passa-lo inteiramente por um espaço levemente maior que sua cabeça. Seus ossos também são praticamente impossíveis de serem deslocados, sendo imunes a ataques que tenham finalidade de deslocar seus membros.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Vibrações</span>
      <div class="del-pop">
        <p>Arachas sentem as vibrações que seres vivos fazem no solo quando se movem, conseguindo perceber suas posições a até 5m, e a posição aproximada a até 50m. Em terrenos que conduzam vibrações melhor, como pedra, quadruplique as distâncias. Paredes não afetam esse sentido.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4><span>Cega: Arachas não possuem olhos ou visão complexa, sendo apenas capazes de distinguir escuridão da claridade. Uma aracha é capaz de lutar com armas corporais e aparar normalmente, já que consegue prever ataques com sua audição e tato apurado.</span>
  </div>
  <p>Estranho e medonho: Não é possível realizarem qualquer teste relacionado a sexualidade com outras raças, e sua aparência é sempre alvo de medo ou desprezo. Conte sempre como se fossem horrendas.</p>
</div>