<div class="tab-pane" id="dragoes">
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>115</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Dragão</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>+6 força, +3 agilidade, +3 intuição, +2 lógica</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>8m, voar 25m.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>duas abaixo. Dragões jovens saem de seus lares com apenas comida suficiente para chegar na cidade mais próxima.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>normal</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Couraça draconiana</span>
      <div class="del-pop">
        <p>RD 20/10/5. A couraça de dragões jovens é formidável, sendo quase impossível de cortar e muito difícil de furar, mas não consegue impedir armas de fogo poderosas ou proteger contra contusões. Também dá RD 15 contra dano de fogo.</p>
        <p>Também dá RD 15 contra dano de fogo.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Sentidos aguçados</span>
      <div class="del-pop">
        <p>Visão +5, Olfato +5. Os sentidos de dragões são bastante aguçados, tendo uma visão e olfato invejáveis.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Visão noturna</span>
      <div class="del-pop">
        <p>Dragões enxergam tão bem sob a iluminação baixa de uma noite clara ou até mesmo de uma noite nublada quanto de dia.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Fase de crescimento</span>
      <div class="del-pop">
        <p>Diferente de outras raças, o máximo de força para um dragão jovem é 15 pontos além da média, não 10.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Ataques naturais</span>
      <div class="del-pop">
        <p>Um dragão possui garras afiadas, mandíbulas poderosas, uma cauda longa e leve que pode ser usada como chicote e claro, seu sopro de chamas.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Garras</span>
      <div class="del-pop">
        <p>1d8 dano cortante + força/2 Mordida: 2d6 dano cortante + força Golpe de cauda: 1d6 dano esmagador + força</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Sopro</span>
      <div class="del-pop">
        <p>4d6 de dano de fogo, queima por 40 turnos. É muito difícil de remover ou apagar. Um dragão pode cuspir fogo em um alvo específico em até forçax2m ou então gerar um cone de forçax1m. Um dragão jovem pode soprar um cone 3 vezes antes de precisar ingerir combustível novamente, e cuspir em um oponente 6 vezes.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Cheiro característico</span>
      <div class="del-pop">
        <p>dragões cheiram a queimado, sendo facilmente detectados por olfato. O seu cheiro é indistinguível de um objeto queimando, tendendo a alertar pessoas para a possibilidade de um incêndio e tornando furtividade ainda mais difícil para um dragão ou seus companheiros.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Fornalha viva</span>
      <div class="del-pop">
        <p>quando um dragão entra em qualquer local, a primeira reação de humanoides é respeito. A segunda é apagar as lareiras e abrir as janelas. De preferência também ligar um refrigerador arcano.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Ganância</span>
      <div class="del-pop">
        <p>todo dragão tem a desvantagem de Ganância</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Quadrupede grande</span>
      <div class="del-pop">
        <p>Dragões andam sob 4 patas, tem um formato muito diferente de outros seres e são maiores que um cavalo. Dragões tem uma tendência incomoda de não caber em locais desenhados para humanoides. Ou em armaduras. Ou armas. Ou veículos. Ou....</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Sorrisos afiados</span>
      <div class="del-pop">
        <p>dragões não muito bonitos para outras raças, não recebendo as vantagens em testes de carisma recebidas por aparência.</p>
      </div>
    </li>
  </ul>
</div>