<div class="tab-pane" id="dyn-o-bren">
  <p>Os Dyn-o-Bren foram os primeiros Golens com capacidade de inteligência e raciocínio similares ao dos humanoides. Um grande número foi criado pelo Império dos Ossos para serem usados como escravos ‘leais e incansáveis’, um dos erros fatais do velho império.</p>
  <p>Atualmente os Dyn-o-Bren são uma raça em lenta extinção, existindo pouco mais de cem mil deles. Menos de uma centena é criada por ano, a maioria por outros Dyn-o-Bren que se preocupam com a perpetuação da raça.</p>
  <p>A maioria dos Dyn-o-Bren vivos são sobreviventes do Império dos ossos, tendo vivido reclusos da civilização ou hibernando por muito tempo.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>45</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Arqueogolem, Dyn-o-Bren.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>força, agilidade, saúde funcionam de forma especial, conforme detalhado na vantagem Corpo Fabricado, não podendo ser adquiridos com PP. Dons mentais funcionam como normal, mas não podem ser maiores que 5. Dyns não possuem fôlego.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>7m.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>média</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>especial, ver aparência artificial.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Corpo Fabricado</span>
      <div class="del-pop">
        <p>Dyns são criaturas fabricadas e devido a sua construção inorgânica, tem um processo de criação e aumento de dons físicos diferente de outras raças.</p>
        <p>Na criação de personagens, ao invés de adquirir dons de força, agilidade e saúde com PP, ele pode aumentar esses dons um total de 10 vezes além de seus valores iniciais (-3 para força, 2 para agilidade e 8 para saúde), não podendo aumentar o mesmo dom mais de 5 vezes ou reduzi-los.</p>
        <p>Um Dyn também pode pagar por modificações em seu corpo, como dons maiores, sentidos mais aguçados, maior velocidade, armas naturais, etc., devendo obedecer às regras para um golem de tamanho médio, como dito na página XXX.</p>
        <p>Um Dyn não pode trocar de corpo, sua mente é ligada permanentemente ao seu corpo de criação e não pode ser transferida para um outro. Devido a isso, Dyns não podem adquirir membros adicionais ou mudar para uma forma nãohumanoide.</p>
        <p>Dyns não podem aumentar seus dons físicos com PP, sendo obrigados a comprar ou fabricar modificações para seus corpos. Toda vantagem que aumente ou diminua dons físicos não muda esses dons e custa 5 pontos a menos (ou dá 5 pontos a menos) ao ser adquirida.</p>
        <p>O máximo racial para os dons físicos de Dyns funciona de forma diferente de outras raças, seguindo as regras para golens.</p>
        <p>Dyns também não podem mudar seus dons mentais após a criação de personagens, tendo sempre a mesma mente que tinham ao serem criados. Também não podem ser programados ou adquirirem habilidades através de códigos, mesmo sendo mentes artificiais.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Dom arcano</span>
      <div class="del-pop">
        <p>devido a energia fluindo pelo corpo de Dyns e sua construção arcana, Dyns são bons arcanistas, mesmo não tendo a mesma inteligência que grandes magos. Dyns contam como se possuíssem 5 pontos a mais de lógica para a conjuração de magia arcana e possuem a vantagem Talentoso em todas as escolas arcanas.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Incansáveis:</span>
      <div class="del-pop">
        <p>Dyns não possuem fôlego, sendo completamente imunes a cansaço.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Resistência a frio e fogo 10</span>
      <div class="del-pop">
        <p>a madeira alquímica dos Dyn é bastante resistente aos elementos, e os Dyn não sentem dor.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Sonar</span>
      <div class="del-pop">
        <p>+10 ouvir. Um Dyn pode ‘ver’ usando o som a até 10m. Esse sonar é preciso o suficiente para dar informações básicas sobre o material que ele escuta, como do que ele é feito (carne, madeira, pedra, metal).</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Vida inorgânica</span>
      <div class="del-pop">
        <p>Dyns não sentem dor e não possuem sangue, não sendo afetados por nenhum efeito que os envolvam, tendo sucesso automático em testes de saúde para resistir à dor. Também não são afetados por venenos ou doenças.</p>
        <p>Apesar de não serem seres orgânicos, Dyns comem, bebem e respiram, apesar de poderem segurar a respiração por horas.</p>
        <p>Caso recebam ao menos um ferimento fatal, Dyns ficam inconscientes e inertes até serem reparados. Da mesma forma, Dyns não conseguem se regenerar, tendo que reparar todo ferimento que receberem.</p>
        <p>Dyns são muito difíceis de serem destruídos, suas mentes são muito protegidas em seus crânios. Um Dyn morre permanentemente apenas se intencionalmente destruídos por alguém que tenha acesso a sua mente, ou por dano extremo a ela, como um disparo direto de canhão ou uma explosão enorme.</p>
        <p>Dyns não são capazes de usar poções ou serem afetados por Biomancia, Transmutação e toda a escola de Mentalismo (eles não sofrem efeitos e não percebem efeitos ilusórios, mas podem usar ilusões em si próprios, como se tornarem Invisíveis).</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Visão noturna</span>
      <div class="del-pop">
        <p>Dyns enxergam tão bem sob a iluminação baixa de uma noite clara ou até mesmo de uma noite nublada quanto de dia.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Aparência artificial</span>
      <div class="del-pop">
        <p>Dyns são claramente criados e artificiais, não podendo adquirir características de aparência.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Estigma social</span>
      <div class="del-pop">
        <p>Dyn-o-Bren caíram no esquecimento por um longo tempo, mas a sua aparência artificial tende a faze-los serem considerados objetos, não pessoas.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Fraqueza a eletricidade</span>
      <div class="del-pop">
        <p>Os Dyn possuem uma grande vulnerabilidade a eletricidade, dobrando o dano que recebem (após qualquer redução).</p>
      </div>
    </li>
  </ul>
</div>