<div class="tab-pane" id="elanos">
  <p>Mesmo com o ódio comum entre humanos e elfos, ainda existem alguns híbridos meios elfos, chamados de elanos. Eles estão concentrados no sul de Irona e Arrakan, região com grande número de elfos.</p>
  <p>Nem todo Elano é híbrido de 1ª geração, as características élficas e humanas que os definem ficam por um longo tempo em sua linhagem. Um filho de um elano será sempre um elano, até que a linhagem se dilua tanto que se tornem indistinguíveis de elfos ou humanos.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>15</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Vertebrado, Humanoide</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>+2 agilidade</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>a velocidade base é 6m, elanos são mais ágeis e rápidos que humanos</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>normal</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>uma acima do normal</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Sangue misto</span>
      <div class="del-pop">
        <p>Elanos contam tanto como humanos quanto como elfos para itens mágicos e magias.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Audição</span>
      <div class="del-pop">
        <p>Elanos não possuem a mesma acuidade auditiva que elfos, mas sua audição ainda é sobre-humana. +5 para audição.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Visão</span>
      <div class="del-pop">
        <p>A visão de elanos é sensível o suficiente para que possam ver em ambientes de baixa iluminação, conseguindo ver com apenas a luz das estrelas. Eles, porém, não conseguem ver em uma noite nebulosa ou em uma floresta densa.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Estigma social</span>
      <div class="del-pop">
        <p>Elanos são vistos com maus olhos em muitos lugares, e por várias pessoas.</p>
      </div>
    </li>
  </ul>
</div>