<div class="tab-pane" id="elfos">
  <p>A raça anciã, como se autodenominam, os elfos são o povo mais crucial da história antiga de Baluerde, tendo formado inúmeros poderosos impérios e reinos, frequentemente subjugando continentes e outras raças inteiras.</p>
  <p>Os elfos são uma das raças mais numerosas de Baluerde, atrás apenas dos humanos. Há cerca de 40 milhões de elfos em Irona, e metade disso em Arrakan.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>30</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Vertebrado, Humanoide.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>-1 força, +4 agilidade, +1 intuição.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>a velocidade base é 7m</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>normal</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>uma acima.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Sonar</span>
      <div class="del-pop">
        <p>+10 ouvir. Um elfo pode ‘ver’ usando o som a até 10m. Esse sonar é preciso o suficiente para dar informações básicas sobre o material que o elfo escuta, como do que ele é feito (carne, madeira, pedra, metal).</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Visão noturna</span>
      <div class="del-pop">
        <p>elfos enxergam tão bem sob a iluminação baixa de uma noite clara quanto de dia. Eles não conseguem, porém, ver bem em uma noite escura, e não veem nada na completa escuridão.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Estigma social</span>
      <div class="del-pop">
        <p>Elfos são universalmente odiados por humanos e anões. Elfos banidos são vistos com estranheza e desconfiança.</p>
      </div>
    </li>
  </ul>
</div>