<div class="tab-pane" id="halfling">
  <p>Pilantrinhas, ladrões de galinhas. Halflings não são exatamente bem vistos por outros povos, em especial por sua tendência a se apropriar de objetos que não são seus. Ou ao menos, a tendência que os outros acreditam que eles têm.</p>
  <p>Halflings são uma raça pouco numerosa, porém quase onipresente, com cerca de 6 milhões de Halflings bem espalhados por todos os continentes conhecidos.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>0</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Vertebrado, Humanoide.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>-4 força, +5 agilidade, +3 carisma.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>a velocidade base é 5m. Halflings correm rápido para seu tamanho.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>uma abaixo. Halflings são geralmente marginalizados.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>média.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Força de halfling</span>
      <div class="del-pop">
        <p>halflings são proporcionalmente muito fortes, tendo a vantagem de Talento em acrobacia e atletismo.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Tamanho</span>
      <div class="del-pop">
        <p>Halflings são muito pequenos, leves e fracos, sendo facilmente imobilizados ou até mesmo arremessados por todas as outras raças. É praticamente impossível até para o mais forte dos Halflings lutar em pé de igualdade em um corpo-a-corpo, tendo uma penalidade de -2 para testes de Luta.</p>
        <p>No geral, Halflings deveriam ficar longe de um combate corporal com outras raças. Ou ao menos um combate justo. Um lado positivo a ser pequeno e leve é que seu tamanho lhes dá uma vantagem de 2 pontos para testes de surdina.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Estigma social</span>
      <div class="del-pop">
        <p>Halflings são malvistos por todas as raças, sendo considerados infantis e manipuladores.</p>
      </div>
    </li>
  </ul>
</div>
