<div class="tab-pane active" id="humanos">
  <p>A raça mais comumente encontrada em todo mundo e também a mais numerosa, humanos estão em todos os lugares.</p>
  <p>Por eras, humanos estiveram em segundo plano nos grandiosos impérios dos anões e dos elfos, sendo pouco mais do que plebeus, tribais e escravos ocasionais. Há alguns milênios, as tribos começaram a se juntar e formar seus próprios reinos, e se ergueram dezenas de gloriosos impérios humanos.</p>
  <p>Os humanos são muitas vezes considerados como uma raça ‘jovem’ pelos anões e elfos, mesmo estando presentes desde o começo da memória, assim como as raças mais velhas.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>0</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Vertebrado, Humanoide.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>todos zero.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>5m</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>normal</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>normal</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Talento (15 pontos)</span>
      <div class="del-pop">
        <p>Humanos são excepcionalmente bons com um grupo de habilidades, lhe dando +5 para toda rodada de dado que faça com essas habilidades.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body">Nenhuma</span>
      <div class="del-pop"></div>
    </li>
  </ul>
</div>