<div class="tab-pane" id="krin-krek">
  <p>Os menos numerosos e menos fisicamente imponentes dos Kreks, Krin-Kreks não possuem gênero biológico e compõem cerca de 5% do tamanho de uma colmeia.</p>
  <p>Os Krin-Krek são baixos e fracos comparados com outros Kreks, medindo em média 1.40m. Seus músculos densos lhes dão uma força similar à humana, e uma boa agilidade. O peso médio é 55 kg.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>55</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Irawoide, Krek.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>+2 agilidade, +4 lógica, +4 intuição, +5 Fôlego.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>a velocidade base é 7m. Kreks são incrivelmente rápidos, até mesmo os Krin. Krin-Kreks conseguem escalar qualquer superfície natural com facilidade, se movendo com velocidade base de 3m.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>duas abaixo. Kreks não possuem nada de valor quando chegam a terras humanoides.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>média.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Alpinismo</span>
      <div class="del-pop">
        <p>Kreks conseguem escalar muito bem com seus 6 membros, escalando automaticamente boa parte dos terrenos e recebendo +5 para todos outros testes de escalada.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Arcanista nato</span>
      <div class="del-pop">
        <p>Krin-Kreks possuem uma aptidão única e extraordinária para a magia, sendo sempre magicamente ativos.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Armas naturais</span>
      <div class="del-pop">
        <p>garras 1d4 + força/2 cortante</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Aprendizagem rápida</span>
      <div class="del-pop">
        <p>Krin Kreks aprendem muito mais rápido que outras raças e seus irmãos, reduzindo o tempo para aprender novas habilidades por estudo ou treino em 1/3.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Exoesqueleto</span>
      <div class="del-pop">
        <p>Kreks possuem placas grossas feitas de osso e quitina cobrindo seu corpo, os dando uma armadura natural considerável. As placas de Krin-Kreks são pouco espessas, mas ainda bastante resistentes. A armadura natural tem RD 8/4/4. Essa armadura não pode reduzir o dano a menos de 1 ponto.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Maratonista nato</span>
      <div class="del-pop">
        <p>Um Krin-Krek possui uma capacidade nata para corrida à distância, não se cansando em boas condições climáticas. KrinKreks não se cansam ao correr carregando uma carga leve em um clima agradável, mas começam a se cansar com carga confortável ou em um clima adverso, e falham automaticamente testes de Fôlego com carga máxima assim como outras raças.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Muitos braços</span>
      <div class="del-pop">
        <p>Krin-Kreks possuem um par de braços mais fracos e curtos, porém igualmente ágeis aos superiores. Considerem que esses braços possuem 5 pontos a menos de força para todos os propósitos. Cada braço extra usado em uma arma aumenta efetivamente sua força em 1/8.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Resistência à fome e sede</span>
      <div class="del-pop">
        <p>Um Krek bem alimentado e hidratado consegue ficar 3 semanas sem ingerir líquidos ou comida, sem nenhuma penalidade. Após esse período, o Krek morre por inanição em apenas 2 dias. Kreks mais gordos podem sobreviver um jejum de meses.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Aquafobia</span>
      <div class="del-pop">
        <p>Kreks não conseguem flutuar, são péssimos nadadores e tem pavor de ficarem submersos. Tem penalidade de -2 para testes de natação</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Insectóide</span>
      <div class="del-pop">
        <p>Não é possível realizarem qualquer teste relacionado a sexualidade e a aparência deles é automaticamente alvo de curiosidade ou desprezo. Conte como se fossem horrendos para alvos que não estiverem curiosos com sua aparência.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Metabolismo</span>
      <div class="del-pop">
        <p>Kreks possuem um metabolismo muito acelerado em comparação a humanoides, precisando do triplo de comida do que o normal para um humanoide do mesmo tamanho. Também estão sempre alertas e não dormem.</p>
      </div>
    </li>
  </ul>
</div>
