<div class="tab-pane" id="orquinos">
  <p>Orquinos são normalmente descendentes indiretos das pilhagens das tribos selvagens que assolaram Irona após a queda do Império dos Ossos, a um milênio, até o Massacre das Tribos, a 5 séculos.</p>
  <p>Orquinos são híbridos entre os extintos orcs da era passada, com os humanos que viviam nas terras que hoje em dia pertencem ao Sacro reino. Devido à perseguições e êxodos, orquinos podem ser encontrados em todos os territórios fora do Sacro reino, quase sempre em pequenos números.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo:</h4><span>25</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Vertebrado, Humanoide.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>+5 força, -1 carisma</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>a velocidade base é 5m</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>: uma abaixo.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>: uma abaixo.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Farejar</span>
      <div class="del-pop">
        <p>Meio orcs possuem o sentido de farejar,e tem +5 para ele</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Sangue misto</span>
      <div class="del-pop">
        <p>meio orcs contam como humanos e orcs para itens mágicos e magias</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Estigma social</span>
      <div class="del-pop">
        <p>orquinos são mal vistos econsiderados simplórios e brutos.</p>
      </div>
    </li>
  </ul>
</div>