<div class="tab-pane" id="poes">
  <p>Imponentes e animalescos, os Poés são a raça mais distinta entre os humanoides. A semelhança com outras raças humanoides é superficial, se aparentando mais com animais do que com outros humanoides.</p>
  <p>Existe cerca de 10 milhões de Poés nas ilhas do arquipélago da passagem, a grande maioria destes da etnia Pés na Terra. Também há por volta de meio milhão em outros locais do mundo.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>35</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Vertebrado, Humanoide.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>+6 força, +2 agilidade, -2 lógica, -2 intuição, -2 carisma.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>a velocidade base é 5m andando ereto, 8m andando com as 4. Poés conseguem escalar qualquer superfície natural sem dificuldade, se movendo com velocidade base de 4m.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>uma abaixo. Poés são normalmente mais pobres do que outras raças.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>média.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Corpo Primata</span>
      <div class="del-pop">
        <p>Poés possuem braços longos e pernas curtas, ambos com mãos fortes e polegares capazes de agarrar. Poés podem escalar em qualquer superfície natural não lisa com sua velocidade de escalada. Para outros testes de escalada, eles recebem +5.</p>
        <p>Também são capazes de se mover utilizando a velocidade de escalada pelas copas das árvores em uma região com vegetação densa. Eles devem estar com os braços livres para isso.</p>
        <p>Há desvantagens para esse corpo arbóreo, especialmente em viagens de longa distância. Um Poé pode viajar apenas 2 horas por dia sem se cansar, e andar mais que isso causa ferimentos leves em seus pés. Poés recebem -2 para testes para receber dano em fôlego em testes de longa duração.</p>
        <p>O corpo e rosto de Poés não são nada atraentes para outras raças, e eles sempre contam como se fossem feios para outras raças, independente da sua beleza para outros Poés. A exceção é se forem horrendos. Nesse caso, continuam sendo horrendos para todos.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul tem_hover_click">Corpo Primata</span>
      <div class="del-pop">
        <p>ver acima</p>
      </div>
    </li>
  </ul>
</div>