<div class="col-xs-6 text-center">
  <ul class="nav nav-tabs tabs-left">
    <li class="active">
      <a href="#humanos" data-toggle="tab" data-raca="humanos" class="escolha-raca">Humanos</a>
    </li>
    <li>
      <a href="#elanos" data-toggle="tab" data-raca="elanos" class="escolha-raca">Elanos</a>
    </li>
    <li>
      <a href="#orquinos" data-toggle="tab" data-raca="orquinos" class="escolha-raca">Orquinos</a>
    </li>
    <li>
      <a href="#elfos" data-toggle="tab" data-raca="elfos" class="escolha-raca">Elfos</a>
    </li>
    <li>
      <a href="#anoes" data-toggle="tab" data-raca="anoes" class="escolha-raca">Anões</a>
    </li>
    <li>
      <a href="#halfling" data-toggle="tab" data-raca="halfling" class="escolha-raca">Halfling</a>
    </li>
    <li>
      <a href="#poes" data-toggle="tab" data-raca="poes" class="escolha-raca">Poés</a>
    </li>
    <li>
      <a href="#thrii-krek" data-toggle="tab" data-raca="thrii" class="escolha-raca">Thrii-Krek</a>
    </li>
    <li>
      <a href="#krin-krek" data-toggle="tab" data-raca="krin" class="escolha-raca">Krin-Krek</a>
    </li>
    <li>
      <a href="#thruk-krek" data-toggle="tab" data-raca="thruk" class="escolha-raca">Thruk-Krek</a>
    </li>
    <li>
      <a href="#arachas" data-toggle="tab" data-raca="arachas" class="escolha-raca">Arachas</a>
    </li>
    <li>
      <a href="#dyn-o-bren" data-toggle="tab" data-raca="dyn" class="escolha-raca">Dyn-o-Bren</a>
    </li>
    <li>
      <a href="#dragoes" data-toggle="tab" data-raca="dragoes" class="escolha-raca">Dragões</a>
    </li>
  </ul>
</div>