<div class="tab-pane" id="thruk-krek">
  <p>As aladas Thruk-Kreks, elas são as líderes e possíveis futuras rainhas da colmeia. Biologicamente são as Kreks fêmeas, sendo cerca de 10% do tamanho de uma colmeia.</p>
  <p>As diferenças externas de Thrii para Thruks são pequenas, especialmente para olhos de outras raças. A diferença óbvia é que Thruks possuem dois grandes pares de asas insectóides. Essas asas são razoavelmente frágeis, tendo a consistência de couro macio, mas se reparam rapidamente. Elas conseguem voar com uma asa a menos, se for necessário.</p>
  <div class="margem-singularidade">
    <h4 class="singularidades">Custo de pontos:</h4><span>75</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Tipo:</h4><span>Irawoide, Krek.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Dons:</h4><span>+3 força, +2 agilidade, +10 Fôlego.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Velocidade:</h4><span>a velocidade base é 9m. Kreks são incrivelmente rápidos. Thruk-Kreks conseguem escalar qualquer superfície natural com facilidade, se movendo com velocidade base de 4m. Thruk-Kreks conseguem voar velocidade 10m e manobrabilidade perfeita, flutuando com facilidade e fazendo mudanças bruscas de direção.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Riqueza:</h4><span>duas abaixo. Kreks não possuem nada de valor quando chegam a terras humanoides.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Aparência:</h4><span>média.</span>
  </div>
  <div class="margem-singularidade">
    <h4 class="singularidades">Vantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Armas naturais</span>
      <div class="del-pop">
        <p>garras 1d6 + força/2 cortante</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Alpinismo</span>
      <div class="del-pop">
        <p>Kreks conseguem escalar muito bem com seus 6 membros, escalando automaticamente boa parte dos terrenos e recebendo +5 para todos outros testes de escalada.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Aprendizagem rápida</span>
      <div class="del-pop">
        <p>Kreks aprendem muito mais rápido que outras raças, reduzindo o tempo para aprender novas habilidades por estudo ou treino pela metade.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Exoesqueleto</span>
      <div class="del-pop">
        <p>Kreks possuem placas grossas feitas de osso e quitina cobrindo seu corpo, os dando uma armadura natural considerável. A armadura natural tem RD 12/6/8. Essa armadura não pode reduzir o dano a menos de 1 ponto.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Maratonista nato</span>
      <div class="del-pop">
        <p>Uma Thruk-Krek possui uma capacidade nata para corrida à distância, não se cansando mesmo em condições horrivelmente adversas. Thruk-Kreks não se cansam ao correr carregando uma carga leve, mas começam a se cansar com carga confortável, e falham automaticamente testes de Fôlego com carga máxima assim como outras raças.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Muitos braços</span>
      <div class="del-pop">
        <p>Kreks possuem um par de braços extras com a mesma força e agilidade dos superiores. Cada braço extra usado em uma arma aumenta efetivamente sua força em 1/4.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Resistência à fome e sede</span>
      <div class="del-pop">
        <p>Um Krek bem alimentado e hidratado consegue ficar 3 semanas sem ingerir líquidos ou comida, sem nenhuma penalidade. Após esse período, o Krek morre por inanição em apenas 2 dias. Kreks mais gordos podem sobreviver um jejum de meses.</p>
      </div>
    </li>
  </ul>
  <div class="margem-singularidade">
    <h4 class="singularidades">Desvantagens:</h4>
  </div>
  <ul class="list-unstyled lista-margem">
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Aquafobia</span>
      <div class="del-pop">
        <p>Kreks não conseguem flutuar, são péssimos nadadores e tem pavor de ficarem submersos. Tem penalidade de -2 para testes de natação</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Insectóide</span>
      <div class="del-pop">
        <p>Não é possível realizarem qualquer teste relacionado a sexualidade e a aparência deles é automaticamente alvo de curiosidade ou desprezo. Conte como se fossem horrendos para alvos que não estiverem curiosos com sua aparência.</p>
      </div>
    </li>
    <li class="descricao-popover">
      <span data-toggle="popover" data-placement="right" data-container="body" class="texto-azul">Metabolismo</span>
      <div class="del-pop">
        <p>Kreks possuem um metabolismo muito acelerado em comparação a humanoides, precisando do quádruplo de comida do que o normal para um humanoide do mesmo tamanho. Também estão sempre alertas e não dormem.</p>
      </div>
    </li>
  </ul>
</div>